{% extends 'XbosCoreBundle::layout.html.twig' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}
{% block content %}

    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.valueAdd' | trans }}</h2>
                                </div><!-- /End Section Title -->
                            </div><!-- /End col-md-12 -->

                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <div class="gfort-accordion">
                                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


                                        <!-- Panel 1 -->
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">{{ 'form.productAdd' | trans }}</a>
                                                </h4>
                                            </div>

                                            {#<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">#}
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                            <!-- Form -->
                                                            {{ form_start(form, {attr: { 'novalidate': 'novalidate'  } }) }}

                                                            <!-- Submit Button -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveProduct' | trans }}</button>

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Submit Button -->


                                                            {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {#</div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}