{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.description' | trans }}</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            {% for productType in productTypes %}
                                            <tr>
                                                <th scope="row"></th>
                                                <td>{{ productType.name }}</td>
                                                <td>{{ productType.description }}</td>

                                            </tr>
                                            {% endfor%}


                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.productTypeAdd' | trans }}</h2>
                                </div><!-- /End Section Title -->
                            </div><!-- /End col-md-12 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Contact Form Block -->
                                <div class="form-block contact-form-block">
                                    <!-- Form Block Container -->
                                    <div class="form-block-container">
                                        <!-- Form -->
                                        {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}


                                        <!-- Name -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_errors(form.name) }}
                                                {{ form_label(form.name) }}
                                                {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                            </div>
                                        </div><!-- /End Name -->


                                        <!-- Email Address -->
                                        <div class="col-md-12">
                                            <!-- Form Group -->
                                            <div class="form-group">

                                                {{ form_errors(form.description) }}
                                                {{ form_label(form.description) }}
                                                {{ form_widget(form.description, { attr: { 'class': 'form-control' }}) }}

                                            </div><!-- /End Form Group -->
                                        </div><!-- /End Email Address -->


                                        <!-- Submit Button -->
                                        <div class="col-md-12">
                                            <!-- Form Group -->
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-gfort">{{ 'form.saveProduct' | trans }}</button>

                                            </div><!-- /End Form Group -->
                                        </div><!-- /End Submit Button -->


                                        {{ form_end(form) }}

                                    </div><!-- /End Form Block Container -->
                                </div><!-- /End Contact Form Block -->
                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->
        </div>
    </div>
{% endblock content %}