{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}
    {% for property in properties %}
        <div class="modal fade" id="modal-{{ property.id }}" tabindex="-1" role="dialog" style="display: none;">
            <!-- Modal Dialog -->
            <div class="modal-dialog" role="document">
                <!-- Modal Content -->
                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ 'form.confirmDelete' | trans }}</h4>
                    </div><!-- /End Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                            <!-- Contact Form Block -->
                            <div class="form-block contact-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <p>{{ 'form.confirmMessage' | trans }}</p>
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Contact Form Block -->
                        </div><!-- /End col-md-12 -->
                    </div><!-- /End Modal Body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm mb-30" data-dismiss="modal">{{ 'form.close' | trans }}</button>
                        <a href="{{ path('Xbos_core_property_delete', { propertyId: property.id , productId: property.product.id, page: page }) }}" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteValue' | trans }}</a>
                    </div>

                </div><!-- /End Modal Content -->
            </div><!-- /End Modal Dialog -->
        </div>
    {% endfor %}


        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->

                                <div class="col-md-10" style="padding: 10px 0px; border-bottom: 1px solid lightgray">
                                    <h3 class="section-main-title">{{ 'form.propertyShow' | trans }}</h3>
                                </div>

                                {% for property in properties %}

                                    <div class="col-md-10" style="padding: 10px 0px; border-bottom: 1px solid lightgray">
                                        <div>

                                             <span class="col-md-6" style="text-align: left;">{{property.name  }}</span>
                                            <span class="col-md-6" style="text-align: right ">
                                                {% if property.type == 1 %}
                                                    {% if property.values[0].booleanValue %}
                                                        <i class="fa fa-check" style="color: green" aria-hidden="true"></i>
                                                    {% else %}
                                                        <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    {% endif %}
                                                {% endif %}

                                                {% if property.type == 2 %}
                                                   <b>{{ property.values[0].stringValue }}</b>
                                                {% endif %}

                                                {% if property.type == 3 or property.type == 4 %}
                                                    <b> {{ property.values[0].intValue }} <i class="fa fa-eur" aria-hidden="true"></i></b>
                                                {% endif %}

                                                {% if property.type == 5 or property.type == 6 %}
                                                    <b>{{ property.values[0].doubleValue }} <i class="fa fa-eur" aria-hidden="true"></i></b>

                                                {% endif %}

                                                {% if property.type == 7 or property.type == 8  %}
                                                    <b>{{ property.values[0].stringValue }}</b>
                                                {% endif %}


                                                </span>

                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="gfort-navigation-block">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {{ pagination|raw }}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}