{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}

    {% for value in values %}
        <div class="modal fade" id="modal-{{ value.id }}" tabindex="-1" role="dialog" style="display: none;">
            <!-- Modal Dialog -->
            <div class="modal-dialog" role="document">
                <!-- Modal Content -->
                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ 'form.confirmDelete' | trans }}</h4>
                    </div><!-- /End Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                            <!-- Contact Form Block -->
                            <div class="form-block contact-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <p>{{ 'form.confirmMessage' | trans }}</p>
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Contact Form Block -->
                        </div><!-- /End col-md-12 -->
                    </div><!-- /End Modal Body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm mb-30" data-dismiss="modal">{{ 'form.close' | trans }}</button>
                        <a href="{{ path('Xbos_core_value_delete', { valueId: value.id, propertyId: value.property.id , page: page }) }}" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteValue' | trans }}</a>
                    </div>

                </div><!-- /End Modal Content -->
            </div><!-- /End Modal Dialog -->
        </div>
    {% endfor %}

        <div class="gfort-section">
            <!-- Section Container -->
            <div class="section-container">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'form.valueType' | trans }}</th>
                                        <th>{{ 'form.name' | trans }}</th>
                                        <th>{{ 'form.valueOptions' | trans }}</th>

                                    </tr>
                                    </thead>

                                    <tbody>

                                    {% set i = 1 %}
                                    {% set page = page > 0 ? page : 1 %}

                                    {% for value in values %}
                                        <tr>
                                            <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                            <td>{{ value.type }}</td>
                                            <td>{{ value.name }}</td>
                                            <td>
                                                <a href="{{ path('Xbos_core_product_configure', { productId: product.id, page: page }) }}" class="btn btn-primary btn-sm mb-30">{{ 'form.editValue' | trans }}</a>
                                                <a href="#modal-{{ value.id }}" title="Launch modal" data-target="#modal-{{ value.id }}" data-toggle="modal" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteValue' | trans }}</a>
                                            </td>

                                        </tr>

                                        {% set i = i + 1 %}
                                    {%  endfor %}

                                    </tbody>

                                </table>
                                <div class="gfort-navigation-block">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {{ pagination|raw }}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!-- /End col-md-12 -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
