{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}



<div class="page-title-section page-title-section-wide grey-background-color">
    <!-- Section Container -->
    <div class="section-container">


        <!-- Breadcrumb Title -->
        <div class="breadcrumb-title">
            <!-- container -->
            <div class="container">

                <h1 class="breadcrumb-main-title">Search Results for: plume</h1>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb Title -->


        <!-- Breadcrumb Block -->
        <div class="breadcrumb-block">
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="index.html" title="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Search</li>
                </ol>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb block -->


    </div><!-- /End Section Container -->
</div><!-- /End Page Title Section -->


<!-- Page Body (Right Sidebar)
==================================================================== -->
<div class="page-body page-right-sidebar">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">


                                <div class="form-block search-form-block">
                                    <!-- Form Block Container -->
                                    <div class="form-block-container">
                                        <!-- Form -->
                                        <form method="get" action="{{ slug }}">


                                            <!-- Form Block Title -->
                                            <div class="col-md-12">
                                                <div class="form-block-title">
                                                    <h4>New Search</h4>
                                                    <p>If you are not happy with the results below please do another search</p>
                                                </div>
                                            </div><!-- /End Form Block Title -->


                                            <!-- col-md-9 -->
                                            <div class="col-md-9">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <input type="text" class="form-control" placeholder="search..." name="s" autocomplete="off">

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End col-md-9 -->


                                            <!-- col-md-3 -->
                                            <div class="col-md-3">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <button type="submit" class="btn btn-gfort">Search</button>

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End col-md-3 -->


                                        </form><!-- /End Form -->
                                    </div><!-- /End Form Block Container -->
                                </div><!-- /End Header Search Form Block -->


                                <!-- Search items Wrapper -->
                                <div class="search-items-wrapper">


                                    <!-- Search item -->
                                    <article class="search-item">
                                        <!-- Search item Container -->
                                        <div class="search-item-container">


                                            <!-- Search item Body -->
                                            <div class="search-item-body">


                                                <!-- Search item Meta -->
                                                <div class="search-item-meta">
                                                                <span class="item-meta-format">
                                                                    <i class="fa fa-file-text-o"></i>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">{{ date }}</time>
                                                                </span>
                                                    <span class="item-meta-type">Page</span>
                                                </div><!-- /End Search item Meta -->



                                                <!-- Search item Title -->
                                                <h2 class="search-item-title">
                                                    <a href="#" title="About us">{{  slug }}</a>
                                                </h2><!-- /End Search item Title -->


                                                <!-- Search item Description -->
                                                <div class="search-item-description">

                                                    <p>Maecenas fringilla mattis quam vitae blandit. Duis fermentum, purus vitae semper sollicitudin, lorem risus pretium nisl, consequat molestie arcu lorem sed odio. Ut mattis rutrum enim, vel cursus turpis ullamcorper nec. Sed a sodales metus. Ut id efficitur felis. [...]</p>

                                                </div><!-- /End Search item Description -->


                                            </div><!-- /End Search item Body -->


                                        </div><!-- /End Search item Container -->
                                    </article><!-- /End Search item -->


                                    <!-- Search item -->


                                </div><!-- /End Search items Wrapper -->


                                {#<!-- Navigation Block -->#}
                                {#<div class="gfort-navigation-block">#}
                                    {#<nav aria-label="Page navigation">#}
                                        {#<!-- Pagination -->#}
                                        {#<ul class="pagination">#}

                                            {#<li class="disabled">#}
                                                            {#<span>#}
                                                                {#<span aria-hidden="true">#}
                                                                    {#<i class="fa fa-angle-left"></i>#}
                                                                {#</span>#}
                                                            {#</span>#}
                                            {#</li>#}

                                            {#<li class="active">#}
                                                {#<span>1 <span class="sr-only">(current)</span></span>#}
                                            {#</li>#}

                                            {#<li><a href="#">2</a></li>#}
                                            {#<li><a href="#">3</a></li>#}
                                            {#<li><a href="#">4</a></li>#}
                                            {#<li><a href="#">5</a></li>#}

                                            {#<li>#}
                                                {#<a href="#" aria-label="Next">#}
                                                                {#<span aria-hidden="true">#}
                                                                    {#<i class="fa fa-angle-right"></i>#}
                                                                {#</span>#}
                                                {#</a>#}
                                            {#</li>#}

                                        {#</ul><!-- /End Pagination -->#}
                                    {#</nav>#}
                                {#</div><!-- /End Navigation Block -->#}


                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


    <!-- Main Sidebar
    ================================================================ -->
    <div class="main-sidebar">
        <!-- Main Sidebar Container -->
        <div class="main-sidebar-container">


            <!-- Widget Block ( Social icons ) -->
            <div class="widget-block widget-block-social-icons">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Stay connected</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Social Icons Block -->
                        <div class="social-icons-block icons-style-1">
                            <ul>

                                <li>
                                    <a href="#" title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Google Plus">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Behance">
                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Pinterest">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /End Social Icons Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Social icons ) -->


            <!-- Widget Block ( Text ) -->
            <div class="widget-block widget-block-text">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Reach us</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <strong>Email:</strong>
                        <p><a href="mailto:support@example.com" title="Support">support@example.com</a></p>

                        <strong>Phone:</strong>
                        <p><a href="tel:+11234567890" title="+1 123 456-7890">+1 123 456-7890</a></p>

                        <strong>Location:</strong>
                        <p>6 rue Saint-Martin, 12345 Paris, France</p>

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Text ) -->


            <!-- Widget Block ( Instagram ) -->
            <div class="widget-block widget-block-instagram">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>instagram</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Instagram Feed Block -->
                        <div class="instagram-feed-block" data-instagram-userid="2546719702" data-instagram-feed-count="6" data-instagram-accesstoken="2546719702.d9ac2e9.d35b2fa3fd0b41048d0717d100e21964"></div><!-- /End Instagram Feed Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Instagram ) -->


            <!-- Widget Block ( Categories ) -->
            <div class="widget-block widget-block-categories">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Categories</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Categories Block -->
                        <ul class="categories-block">
                            <li><a href="#" title="Life Style">Life Style<span>(6)</span></a></li>
                            <li><a href="#" title="Business">Business<span>(5)</span></a></li>
                            <li><a href="#" title="Modern">Modern<span>(10)</span></a></li>
                            <li><a href="#" title="Parallax">Parallax<span>(8)</span></a></li>
                            <li><a href="#" title="Photography">Photography<span>(3)</span></a></li>
                        </ul><!-- /End Categories Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Categories ) -->


            <!-- Widget Block ( Latest Posts ) -->
            <div class="widget-block widget-block-posts">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Latest Posts</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Blog Posts -->
                        <ul class="blog-posts">


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="You must do the things you think you can't do" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/001.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="You must do the things you think you can't do" class="blog-item-small-title">You must do the things you think you can't do</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="ideas shape the course of history" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/002.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="ideas shape the course of history" class="blog-item-small-title">ideas shape the course of history</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="A great idea can make difference" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/003.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="A great idea can make difference" class="blog-item-small-title">A great idea can make difference</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                        </ul><!-- /End Blog Posts -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Latest Posts ) -->


            <!-- Widget Block ( Subscribe ) -->
            <div class="widget-block widget-block-subscribe">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Subscribe</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Subscribe Form Block (Mailchimp) -->
                        <div class="form-block subscribe-form-block mailchimp-form-block" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">
                            <!-- Form Block Container -->
                            <div class="form-block-container">
                                <!-- Form -->
                                <form method="post" action="#">


                                    <!-- Email Address -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <label>Email Address</label>
                                            <input type="email" class="form-control subscribe-email" name="EMAIL">

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Email Address -->


                                    <!-- Submit Button -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <button type="submit" class="btn btn-gfort">SUBSCRIBE</button>

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Submit Button -->


                                    <!-- Text -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <p>We promise that we will never share your e-mail address with any third party company.</p>

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Text -->


                                </form><!-- /End Form -->
                            </div><!-- /End Form Block Container -->
                        </div><!-- /End Subscribe Form Block (Mailchimp) -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Subscribe ) -->


            <!-- Widget Block ( advertisement ) -->
            <div class="widget-block widget-block-advertisement">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Advertisement</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- ADS Block -->
                        <div class="ads-block">
                            <!-- ADS Block Container -->
                            <div class="ads-block-container">
                                <a href="http://gfort.co/plume" title="PLUME" target="_blank">
                                    <img src="images/widgets/ads.jpg" alt="Advertisement" />
                                </a>
                            </div><!-- /End ADS Block Container -->
                        </div><!-- /End ADS Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( advertisement ) -->


            <!-- Widget Block ( Tags ) -->
            <div class="widget-block widget-block-tags">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Tags Cloud</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Tags Block -->
                        <div class="tags-block">
                            <!-- Tags Block Container -->
                            <div class="tags-block-container">

                                <ul>

                                    <li>
                                        <a href="#" title="video" class="btn btn-gfort-grey btn-gfort-sm">video</a>
                                    </li>

                                    <li>
                                        <a href="#" title="plume" class="btn btn-gfort-grey btn-gfort-sm">plume</a>
                                    </li>

                                    <li>
                                        <a href="#" title="Photography" class="btn btn-gfort-grey btn-gfort-sm">Photography</a>
                                    </li>

                                    <li>
                                        <a href="#" title="music" class="btn btn-gfort-grey btn-gfort-sm">music</a>
                                    </li>

                                    <li>
                                        <a href="#" title="parallax" class="btn btn-gfort-grey btn-gfort-sm">parallax</a>
                                    </li>

                                    <li>
                                        <a href="#" title="modern" class="btn btn-gfort-grey btn-gfort-sm">modern</a>
                                    </li>

                                </ul>

                            </div><!-- /End Tags Block Container -->
                        </div><!-- /End Tags Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Tags ) -->


        </div><!-- /End Main Sidebar Container -->
    </div><!-- /End Main Sidebar -->


</div><!-- /End Page Body (Right Sidebar) -->

{% endblock content %}