{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}

<div class="page-title-section page-title-section-wide grey-background-color">
    <!-- Section Container -->
    <div class="section-container">


        <!-- Breadcrumb Title -->
        <div class="breadcrumb-title">
            <!-- container -->
            <div class="container">

                <h1 class="breadcrumb-main-title">Blog</h1>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb Title -->


        <!-- Breadcrumb Block -->
        <div class="breadcrumb-block">
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="index.html" title="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Blog Right Sidebar</li>
                </ol>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb block -->


    </div><!-- /End Section Container -->
</div><!-- /End Page Title Section -->


<!-- Page Body (Right Sidebar)
==================================================================== -->
<div class="page-body page-right-sidebar">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">


                                <!-- Blog items Wrapper -->
                                <div class="blog-items-wrapper blog-col-1">


                                    <!-- Blog item -->
                                    <article class="blog-item format-standard">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Media -->
                                            <div class="blog-item-media">
                                                <a href="#" title="You must do the things you think you can't do" class="overlay-hover-2x scale-hover">
                                                    <img src="{{ asset('bundles/xboscore/images/blog/thumbs/large/001.jpg') }}" alt="Article Image" />
                                                </a>
                                            </div><!-- /End Blog item Media -->


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-file-text-o"></i>
                                                                        <i class="fa fa-file-text-o"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Standard">Standard</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Title -->
                                                <h2 class="blog-item-title">
                                                    <a href="#" title="You must do the things you think you can't do">You must do the things you think you can't do</a>
                                                </h2><!-- /End Blog item Title -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>They had not gone far before they saw the Mock Turtle in the distance, sitting sad and lonely on a little ledge of rock, and, as they came nearer, Alice could hear him sighing as if his heart would break. She pitied him deeply. What is his sorrow? she [...]</p>

                                                </div><!-- /End Blog item Description -->


                                                <!-- Blog item Read More Button -->
                                                <div class="blog-item-read-btn">
                                                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                                                </div><!-- /End Blog item Read More Button -->


                                            </div><!-- /End Blog item Body -->


                                            <!-- Blog item Footer -->
                                            <div class="blog-item-footer">


                                                <!-- Blog item Author -->
                                                <div class="blog-item-author">
                                                    <a href="#" title="Posts by Graphicfort" data-toggle="tooltip" data-placement="top">
                                                        <img src="{{ asset('bundles/xboscore/images/avatar/gf-avatar.jpg') }}" alt="Graphicfort Author" /><span>Graphicfort</span>
                                                    </a>
                                                </div><!-- /End Blog item Author -->


                                                <!-- Blog item Buttons -->
                                                <div class="blog-item-btns">
                                                    <!-- Blog item Buttons List -->
                                                    <ul class="blog-item-btns-list">

                                                        <!-- Blog item Views -->
                                                        <li class="blog-item-views">
                                                            <p><i class="fa fa-eye"></i>10</p>
                                                        </li><!-- /End Blog item Views -->

                                                        <!-- Blog item Like -->
                                                        <li class="blog-item-like">
                                                            <a href="#"><i class="fa fa-heart-o"></i>5</a>
                                                        </li><!-- /End Blog item Like -->

                                                        <!-- Blog item Share -->
                                                        <li class="blog-item-share" title="Share" data-toggle="tooltip" data-placement="top">
                                                            <a href="#"><i class="fa fa-share"></i></a>
                                                            <!-- Social Icons Block -->
                                                            <div class="social-icons-block icons-style-1">
                                                                <ul>

                                                                    <li>
                                                                        <a href="#" title="Facebook">
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Google Plus">
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Twitter">
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Pinterest">
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div><!-- /End Social Icons Block -->
                                                        </li><!-- /End Blog item Share -->

                                                    </ul><!-- /End Blog item Buttons List -->
                                                </div><!-- /End Blog item Buttons -->


                                            </div><!-- /End Blog item Footer -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-image">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Media -->
                                            <div class="blog-item-media">
                                                <a href="{{ asset('bundles/xboscore/images/blog/002.jpg') }}" title="ideas shape the course of history" class="overlay-hover-2x scale-hover" data-gfort-lightbox>
                                                    <img src="{{ asset('bundles/xboscore/images/blog/thumbs/large/002.jpg') }}" alt="Article Image" />
                                                </a>
                                            </div><!-- /End Blog item Media -->


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-camera-retro"></i>
                                                                        <i class="fa fa-camera-retro"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="lightbox">lightbox</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Title -->
                                                <h2 class="blog-item-title">
                                                    <a href="#" title="ideas shape the course of history">ideas shape the course of history</a>
                                                </h2><!-- /End Blog item Title -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>They had not gone far before they saw the Mock Turtle in the distance, sitting sad and lonely on a little ledge of rock, and, as they came nearer, Alice could hear him sighing as if his heart would break. She pitied him deeply. What is his sorrow? she [...]</p>

                                                </div><!-- /End Blog item Description -->


                                                <!-- Blog item Read More Button -->
                                                <div class="blog-item-read-btn">
                                                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                                                </div><!-- /End Blog item Read More Button -->


                                            </div><!-- /End Blog item Body -->


                                            <!-- Blog item Footer -->
                                            <div class="blog-item-footer">


                                                <!-- Blog item Author -->
                                                <div class="blog-item-author">
                                                    <a href="#" title="Posts by Graphicfort" data-toggle="tooltip" data-placement="top">
                                                        <img src="{{ asset('bundles/xboscore/images/avatar/gf-avatar.jpg') }}" alt="Graphicfort Author" /><span>Graphicfort</span>
                                                    </a>
                                                </div><!-- /End Blog item Author -->


                                                <!-- Blog item Buttons -->
                                                <div class="blog-item-btns">
                                                    <!-- Blog item Buttons List -->
                                                    <ul class="blog-item-btns-list">

                                                        <!-- Blog item Views -->
                                                        <li class="blog-item-views">
                                                            <p><i class="fa fa-eye"></i>10</p>
                                                        </li><!-- /End Blog item Views -->

                                                        <!-- Blog item Like -->
                                                        <li class="blog-item-like">
                                                            <a href="#"><i class="fa fa-heart-o"></i>5</a>
                                                        </li><!-- /End Blog item Like -->

                                                        <!-- Blog item Share -->
                                                        <li class="blog-item-share" title="Share" data-toggle="tooltip" data-placement="top">
                                                            <a href="#"><i class="fa fa-share"></i></a>
                                                            <!-- Social Icons Block -->
                                                            <div class="social-icons-block icons-style-1">
                                                                <ul>

                                                                    <li>
                                                                        <a href="#" title="Facebook">
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Google Plus">
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Twitter">
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Pinterest">
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div><!-- /End Social Icons Block -->
                                                        </li><!-- /End Blog item Share -->

                                                    </ul><!-- /End Blog item Buttons List -->
                                                </div><!-- /End Blog item Buttons -->


                                            </div><!-- /End Blog item Footer -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-gallery">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Media -->
                                            <div class="blog-item-media">
                                                <!-- gfort owl Slider -->
                                                <div class="gfort-owl-slider owl-carousel owl-theme" data-slider-items="1" data-slider-arrows="true" data-slider-dots="true" data-slider-dots-position="inside" data-slider-autoplay="true">


                                                    <!-- gfort owl Slider Item -->
                                                    <div class="gfort-owl-slider-item">
                                                        <a href="{{ asset('bundles/xboscore/images/blog/003.jpg') }}" title="A great idea can make difference" class="overlay-hover-2x scale-hover" data-gfort-lightbox data-gfort-lightbox-group="gallery-1">
                                                            <img src="{{ asset('bundles/xboscore/images/blog/thumbs/large/003.jph') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End gfort owl Slider Item -->


                                                    <!-- gfort owl Slider Item -->
                                                    <div class="gfort-owl-slider-item">
                                                        <a href="{{ asset('bundles/xboscore/images/blog/004.jpg') }}" title="A great idea can make difference" class="overlay-hover-2x scale-hover" data-gfort-lightbox data-gfort-lightbox-group="gallery-1">
                                                            <img src="{{ asset('bundles/xboscore/images/blog/thumbs/large/004.jph') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End gfort owl Slider Item -->


                                                </div><!-- /End gfort owl Slider -->
                                            </div><!-- /End Blog item Media -->


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-image"></i>
                                                                        <i class="fa fa-image"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Gallery">Gallery</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Title -->
                                                <h2 class="blog-item-title">
                                                    <a href="#" title="A great idea can make difference">A great idea can make difference</a>
                                                </h2><!-- /End Blog item Title -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>They had not gone far before they saw the Mock Turtle in the distance, sitting sad and lonely on a little ledge of rock, and, as they came nearer, Alice could hear him sighing as if his heart would break. She pitied him deeply. What is his sorrow? she [...]</p>

                                                </div><!-- /End Blog item Description -->


                                                <!-- Blog item Read More Button -->
                                                <div class="blog-item-read-btn">
                                                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                                                </div><!-- /End Blog item Read More Button -->


                                            </div><!-- /End Blog item Body -->


                                            <!-- Blog item Footer -->
                                            <div class="blog-item-footer">


                                                <!-- Blog item Author -->
                                                <div class="blog-item-author">
                                                    <a href="#" title="Posts by Graphicfort" data-toggle="tooltip" data-placement="top">
                                                        <img src="{{ asset('bundles/xboscore/images/avatar/gf-avatar.jpg') }}" alt="Graphicfort Author" /><span>Graphicfort</span>
                                                    </a>
                                                </div><!-- /End Blog item Author -->


                                                <!-- Blog item Buttons -->
                                                <div class="blog-item-btns">
                                                    <!-- Blog item Buttons List -->
                                                    <ul class="blog-item-btns-list">

                                                        <!-- Blog item Views -->
                                                        <li class="blog-item-views">
                                                            <p><i class="fa fa-eye"></i>10</p>
                                                        </li><!-- /End Blog item Views -->

                                                        <!-- Blog item Like -->
                                                        <li class="blog-item-like">
                                                            <a href="#"><i class="fa fa-heart-o"></i>5</a>
                                                        </li><!-- /End Blog item Like -->

                                                        <!-- Blog item Share -->
                                                        <li class="blog-item-share" title="Share" data-toggle="tooltip" data-placement="top">
                                                            <a href="#"><i class="fa fa-share"></i></a>
                                                            <!-- Social Icons Block -->
                                                            <div class="social-icons-block icons-style-1">
                                                                <ul>

                                                                    <li>
                                                                        <a href="#" title="Facebook">
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Google Plus">
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Twitter">
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Pinterest">
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div><!-- /End Social Icons Block -->
                                                        </li><!-- /End Blog item Share -->

                                                    </ul><!-- /End Blog item Buttons List -->
                                                </div><!-- /End Blog item Buttons -->


                                            </div><!-- /End Blog item Footer -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-video">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Media -->
                                            <div class="blog-item-media">
                                                <iframe src="https://player.vimeo.com/video/47505825?color=2791d8&title=0&byline=0&portrait=0" allowfullscreen></iframe>
                                            </div><!-- /End Blog item Media -->


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-video-camera"></i>
                                                                        <i class="fa fa-video-camera"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Video">Video</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Title -->
                                                <h2 class="blog-item-title">
                                                    <a href="#" title="Creative miniworld">Creative miniworld</a>
                                                </h2><!-- /End Blog item Title -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>They had not gone far before they saw the Mock Turtle in the distance, sitting sad and lonely on a little ledge of rock, and, as they came nearer, Alice could hear him sighing as if his heart would break. She pitied him deeply. What is his sorrow? she [...]</p>

                                                </div><!-- /End Blog item Description -->


                                                <!-- Blog item Read More Button -->
                                                <div class="blog-item-read-btn">
                                                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                                                </div><!-- /End Blog item Read More Button -->


                                            </div><!-- /End Blog item Body -->


                                            <!-- Blog item Footer -->
                                            <div class="blog-item-footer">


                                                <!-- Blog item Author -->
                                                <div class="blog-item-author">
                                                    <a href="#" title="Posts by Graphicfort" data-toggle="tooltip" data-placement="top">
                                                        <img src="{{ asset('bundles/xboscore/images/avatar/gf-avatar.jpg') }}" alt="Graphicfort Author" /><span>Graphicfort</span>
                                                    </a>
                                                </div><!-- /End Blog item Author -->


                                                <!-- Blog item Buttons -->
                                                <div class="blog-item-btns">
                                                    <!-- Blog item Buttons List -->
                                                    <ul class="blog-item-btns-list">

                                                        <!-- Blog item Views -->
                                                        <li class="blog-item-views">
                                                            <p><i class="fa fa-eye"></i>10</p>
                                                        </li><!-- /End Blog item Views -->

                                                        <!-- Blog item Like -->
                                                        <li class="blog-item-like">
                                                            <a href="#"><i class="fa fa-heart-o"></i>5</a>
                                                        </li><!-- /End Blog item Like -->

                                                        <!-- Blog item Share -->
                                                        <li class="blog-item-share" title="Share" data-toggle="tooltip" data-placement="top">
                                                            <a href="#"><i class="fa fa-share"></i></a>
                                                            <!-- Social Icons Block -->
                                                            <div class="social-icons-block icons-style-1">
                                                                <ul>

                                                                    <li>
                                                                        <a href="#" title="Facebook">
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Google Plus">
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Twitter">
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Pinterest">
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div><!-- /End Social Icons Block -->
                                                        </li><!-- /End Blog item Share -->

                                                    </ul><!-- /End Blog item Buttons List -->
                                                </div><!-- /End Blog item Buttons -->


                                            </div><!-- /End Blog item Footer -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-quote">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-quote-left"></i>
                                                                        <i class="fa fa-quote-left"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Quotes">Quotes</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Format Content -->
                                                <div class="blog-item-format-content">

                                                    <!-- Blog item Title -->
                                                    <h2 class="blog-item-title">We're here to put a dent in universe. Otherwise why else even be here ?</h2>

                                                    <!-- Blog item Format Description -->
                                                    <span class="blog-item-format-desc"><i class="fa fa-minus"></i>Steve Jobs</span>

                                                </div><!-- /End Blog item Format Content -->


                                            </div><!-- /End Blog item Body -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-link">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-link"></i>
                                                                        <i class="fa fa-link"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Link">Link</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Format Content -->
                                                <div class="blog-item-format-content">

                                                    <!-- Blog item Title -->
                                                    <h2 class="blog-item-title">
                                                        <a href="http://gfort.co/portfolio" title="Creative HTML5 Templates &amp; wordPress themes" target="_blank">Creative HTML5 Templates &amp; wordPress themes</a>
                                                    </h2><!-- /End Blog item Title -->

                                                    <!-- Blog item Format Description -->
                                                    <span class="blog-item-format-desc">Check our Portfolio</span>

                                                </div><!-- /End Blog item Format Content -->


                                            </div><!-- /End Blog item Body -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Blog item -->
                                    <article class="blog-item format-audio">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Media -->
                                            <div class="blog-item-media">
                                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132774758&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                            </div><!-- /End Blog item Media -->


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-music"></i>
                                                                        <i class="fa fa-music"></i>
                                                                    </a>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">May 17, 2016</time>
                                                                </span>
                                                    <span class="item-meta-category">
                                                                    <a href="#" title="Audio">Audio</a>
                                                                </span>
                                                    <span class="item-meta-comments">
                                                                    <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Title -->
                                                <h2 class="blog-item-title">
                                                    <a href="#" title="Pharrell Williams - Happy">Pharrell Williams - Happy</a>
                                                </h2><!-- /End Blog item Title -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>They had not gone far before they saw the Mock Turtle in the distance, sitting sad and lonely on a little ledge of rock, and, as they came nearer, Alice could hear him sighing as if his heart would break. She pitied him deeply. What is his sorrow? she [...]</p>

                                                </div><!-- /End Blog item Description -->


                                                <!-- Blog item Read More Button -->
                                                <div class="blog-item-read-btn">
                                                    <a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
                                                </div><!-- /End Blog item Read More Button -->


                                            </div><!-- /End Blog item Body -->


                                            <!-- Blog item Footer -->
                                            <div class="blog-item-footer">


                                                <!-- Blog item Author -->
                                                <div class="blog-item-author">
                                                    <a href="#" title="Posts by Graphicfort" data-toggle="tooltip" data-placement="top">
                                                        <img src="{{ asset('bundles/xboscore/images/avatar/gf-avatar.jpg') }}" alt="Graphicfort Author" /><span>Graphicfort</span>
                                                    </a>
                                                </div><!-- /End Blog item Author -->


                                                <!-- Blog item Buttons -->
                                                <div class="blog-item-btns">
                                                    <!-- Blog item Buttons List -->
                                                    <ul class="blog-item-btns-list">

                                                        <!-- Blog item Views -->
                                                        <li class="blog-item-views">
                                                            <p><i class="fa fa-eye"></i>10</p>
                                                        </li><!-- /End Blog item Views -->

                                                        <!-- Blog item Like -->
                                                        <li class="blog-item-like">
                                                            <a href="#"><i class="fa fa-heart-o"></i>5</a>
                                                        </li><!-- /End Blog item Like -->

                                                        <!-- Blog item Share -->
                                                        <li class="blog-item-share" title="Share" data-toggle="tooltip" data-placement="top">
                                                            <a href="#"><i class="fa fa-share"></i></a>
                                                            <!-- Social Icons Block -->
                                                            <div class="social-icons-block icons-style-1">
                                                                <ul>

                                                                    <li>
                                                                        <a href="#" title="Facebook">
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Google Plus">
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Twitter">
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" title="Pinterest">
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div><!-- /End Social Icons Block -->
                                                        </li><!-- /End Blog item Share -->

                                                    </ul><!-- /End Blog item Buttons List -->
                                                </div><!-- /End Blog item Buttons -->


                                            </div><!-- /End Blog item Footer -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                </div><!-- /End Blog items Wrapper -->


                                <!-- Navigation Block -->
                                <div class="gfort-navigation-block">
                                    <nav aria-label="Page navigation">
                                        <!-- Pagination -->
                                        <ul class="pagination">

                                            <li class="disabled">
                                                            <span>
                                                                <span aria-hidden="true">
                                                                    <i class="fa fa-angle-left"></i>
                                                                </span>
                                                            </span>
                                            </li>

                                            <li class="active">
                                                <span>1 <span class="sr-only">(current)</span></span>
                                            </li>

                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>

                                            <li>
                                                <a href="#" aria-label="Next">
                                                                <span aria-hidden="true">
                                                                    <i class="fa fa-angle-right"></i>
                                                                </span>
                                                </a>
                                            </li>

                                        </ul><!-- /End Pagination -->
                                    </nav>
                                </div><!-- /End Navigation Block -->


                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


    <!-- Main Sidebar
    ================================================================ -->
    <div class="main-sidebar">
        <!-- Main Sidebar Container -->
        <div class="main-sidebar-container">


            <!-- Widget Block ( Social icons ) -->
            <div class="widget-block widget-block-social-icons">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Stay connected</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Social Icons Block -->
                        <div class="social-icons-block icons-style-1">
                            <ul>

                                <li>
                                    <a href="#" title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Google Plus">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Behance">
                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Pinterest">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /End Social Icons Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Social icons ) -->


            <!-- Widget Block ( Text ) -->
            <div class="widget-block widget-block-text">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Reach us</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <strong>Email:</strong>
                        <p><a href="mailto:support@example.com" title="Support">support@example.com</a></p>

                        <strong>Phone:</strong>
                        <p><a href="tel:+11234567890" title="+1 123 456-7890">+1 123 456-7890</a></p>

                        <strong>Location:</strong>
                        <p>6 rue Saint-Martin, 12345 Paris, France</p>

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Text ) -->


            <!-- Widget Block ( Instagram ) -->
            <div class="widget-block widget-block-instagram">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>instagram</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Instagram Feed Block -->
                        <div class="instagram-feed-block" data-instagram-userid="2546719702" data-instagram-feed-count="6" data-instagram-accesstoken="2546719702.d9ac2e9.d35b2fa3fd0b41048d0717d100e21964"></div><!-- /End Instagram Feed Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Instagram ) -->


            <!-- Widget Block ( Categories ) -->
            <div class="widget-block widget-block-categories">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Categories</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Categories Block -->
                        <ul class="categories-block">
                            <li><a href="#" title="Life Style">Life Style<span>(6)</span></a></li>
                            <li><a href="#" title="Business">Business<span>(5)</span></a></li>
                            <li><a href="#" title="Modern">Modern<span>(10)</span></a></li>
                            <li><a href="#" title="Parallax">Parallax<span>(8)</span></a></li>
                            <li><a href="#" title="Photography">Photography<span>(3)</span></a></li>
                        </ul><!-- /End Categories Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Categories ) -->


            <!-- Widget Block ( Latest Posts ) -->
            <div class="widget-block widget-block-posts">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Latest Posts</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Blog Posts -->
                        <ul class="blog-posts">


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="You must do the things you think you can't do" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/001.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="You must do the things you think you can't do" class="blog-item-small-title">You must do the things you think you can't do</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="ideas shape the course of history" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/002.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="ideas shape the course of history" class="blog-item-small-title">ideas shape the course of history</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                            <!-- Blog Item -->
                            <li>

                                <!-- Item image -->
                                <a href="#" title="A great idea can make difference" class="item-image overlay-hover scale-hover-2x">
                                    <img src="images/widgets/blog-posts/003.jpg" alt="Article Image" />
                                </a>

                                <!-- Blog Item Body -->
                                <div class="blog-item-body">

                                    <!-- Title -->
                                    <a href="#" title="A great idea can make difference" class="blog-item-small-title">A great idea can make difference</a>

                                    <!-- Blog item Meta -->
                                    <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">May 17, 2016</time>
                                                    </span>
                                        <span class="item-meta-comments">
                                                        <a href="#"><i class="fa fa-comments-o"></i>3</a>
                                                    </span>
                                    </div><!-- /End Blog item Meta -->

                                </div><!-- /End Blog Item Body -->

                            </li><!-- /End Blog Item -->


                        </ul><!-- /End Blog Posts -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Latest Posts ) -->


            <!-- Widget Block ( Subscribe ) -->
            <div class="widget-block widget-block-subscribe">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Subscribe</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Subscribe Form Block (Mailchimp) -->
                        <div class="form-block subscribe-form-block mailchimp-form-block" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">
                            <!-- Form Block Container -->
                            <div class="form-block-container">
                                <!-- Form -->
                                <form method="post" action="#">


                                    <!-- Email Address -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <label>Email Address</label>
                                            <input type="email" class="form-control subscribe-email" name="EMAIL">

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Email Address -->


                                    <!-- Submit Button -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <button type="submit" class="btn btn-gfort">SUBSCRIBE</button>

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Submit Button -->


                                    <!-- Text -->
                                    <div class="col-md-12">
                                        <!-- Form Group -->
                                        <div class="form-group">

                                            <p>We promise that we will never share your e-mail address with any third party company.</p>

                                        </div><!-- /End Form Group -->
                                    </div><!-- /End Text -->


                                </form><!-- /End Form -->
                            </div><!-- /End Form Block Container -->
                        </div><!-- /End Subscribe Form Block (Mailchimp) -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Subscribe ) -->


            <!-- Widget Block ( advertisement ) -->
            <div class="widget-block widget-block-advertisement">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Advertisement</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- ADS Block -->
                        <div class="ads-block">
                            <!-- ADS Block Container -->
                            <div class="ads-block-container">
                                <a href="http://gfort.co/plume" title="PLUME" target="_blank">
                                    <img src="images/widgets/ads.jpg" alt="Advertisement" />
                                </a>
                            </div><!-- /End ADS Block Container -->
                        </div><!-- /End ADS Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( advertisement ) -->


            <!-- Widget Block ( Tags ) -->
            <div class="widget-block widget-block-tags">
                <!-- Widget Block Container -->
                <div class="widget-block-container">


                    <!-- Widget Block Title -->
                    <div class="widget-block-title">
                        <h6>Tags Cloud</h6>
                    </div><!-- /End Widget Block Title -->


                    <!-- Widget Block Body -->
                    <div class="widget-block-body">

                        <!-- Tags Block -->
                        <div class="tags-block">
                            <!-- Tags Block Container -->
                            <div class="tags-block-container">

                                <ul>

                                    <li>
                                        <a href="#" title="video" class="btn btn-gfort-grey btn-gfort-sm">video</a>
                                    </li>

                                    <li>
                                        <a href="#" title="plume" class="btn btn-gfort-grey btn-gfort-sm">plume</a>
                                    </li>

                                    <li>
                                        <a href="#" title="Photography" class="btn btn-gfort-grey btn-gfort-sm">Photography</a>
                                    </li>

                                    <li>
                                        <a href="#" title="music" class="btn btn-gfort-grey btn-gfort-sm">music</a>
                                    </li>

                                    <li>
                                        <a href="#" title="parallax" class="btn btn-gfort-grey btn-gfort-sm">parallax</a>
                                    </li>

                                    <li>
                                        <a href="#" title="modern" class="btn btn-gfort-grey btn-gfort-sm">modern</a>
                                    </li>

                                </ul>

                            </div><!-- /End Tags Block Container -->
                        </div><!-- /End Tags Block -->

                    </div><!-- /End Widget Block Body -->


                </div><!-- /End Widget Block Container -->
            </div><!-- /End Widget Block ( Tags ) -->


        </div><!-- /End Main Sidebar Container -->
    </div><!-- /End Main Sidebar -->


</div><!-- /End Page Body (Right Sidebar) -->
{% endblock content %}
