<header class="header-section fixed-header" style="">
    <!-- Header Section Container -->
    <div class="header-section-container">


        <!-- Top Header -->
        <div class="top-header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- Top Header Widget ( Left ) -->
                    <div class="top-header-widget widget-left-side  top-header-list">
                        <!-- Top Header Widget Container -->
                        <div class="top-header-widget-container" >

                            <!-- Secondary Menu -->
                            <nav class="secondary-menu">
                                <ul>

                                    <li>
                                        <a href="{{  path('Xbos_core_home')  }}">{{ 'form.home' | trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{  path('Xbos_about_us')  }}">{{ 'form.aboutUs' | trans }}</a>
                                    </li>
                                    <li><a href="{{ path ('Xbos_core_credit_start_page')  }}" title="{{ 'form.credits' | trans }}"> {{ 'form.credits' | trans }}</a></li>
                                    <li><a href="{{ path ('Xbos_core_insurance_start_page')  }}" title="{{ 'form.index.insurance' | trans }}"> {{ 'form.index.insurance' | trans }}</a></li>
                                    <li><a href="{{ path ('Xbos_core_advice')  }}" title="{{ 'form.index.advice' | trans }}"> {{ 'form.index.advice' | trans }}</a></li>
                                    <li><a href="{{ path ('Xbos_core_blog_article_show')  }}" title="{{ 'form.index.knowledge.base' | trans }}"> {{ 'form.index.knowledge.base' | trans }}</a></li>

                                </ul>
                            </nav><!-- /End Secondary Menu -->

                        </div><!-- /End Top Header Widget Container -->
                    </div><!-- /End Top Header Widget ( Left ) -->

                    <!-- Top Header Widget ( Right ) -->
                    <div class="top-header-widget widget-right-side">
                        <!-- Top Header Widget Container -->
                        <div class="top-header-widget-container">

                            <!-- Info Block -->
                            <div class="info-block">
                                <!-- Info Block Container -->
                                <div class="info-block-container">
                                    <li>
                                        <a class="button" href="{{ path('Xbos_locale', {_locale: 'en'}) }}" title="English">{{ 'form.english' | trans }}
                                            <img src="{{ asset('bundles/xboscore/images/flags/flagEN.png') }}" alt="United Kingdom" />
                                        </a>
                                    </li>
                                    |
                                    <li>
                                        <a href="{{ path('Xbos_locale', {_locale: 'sr_Latn'}) }}" title="Srpski">{{ 'form.serbian' | trans }}
                                            <img src="{{ asset('bundles/xboscore/images/flags/flagSR.png') }}" alt="Serbia" />
                                        </a>
                                    </li>
                                    <li style="margin: 10px">  </li>

                                    <p><i class="fa fa-sign-in"> </i>
                                        {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <a href="{{ path('fos_user_security_logout') }}" title="{{ 'form.sign.out' | trans}}">{{ 'form.sign.out' | trans}}</a>
                                        {% else %}
                                            <a href="{{ path('fos_user_security_login') }}" title="{{ 'form.sign.in' | trans}}">{{ 'form.sign.in' | trans}}</a>
                                        {% endif %}


                                </div><!-- /End Info Block Container -->
                            </div><!-- /End Info Block -->

                        </div><!-- /End Top Header Widget Container -->
                    </div><!-- /End Top Header Widget ( Right ) -->


                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Top Header -->


        <!-- Top Header -->
        <div class="top-header" style="background-image: url({{ asset('bundles/xboscore/images/index/corporate/002.jpg') }}); padding: 5px" >
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- Top Header Widget -->
                    <div class="top-header-widget pt-0 pb-0">
                        <!-- Top Header Widget Container -->
                        <div class="top-header-widget-container mtl">


                            <!-- Navbar Header / Logo -->
                            <div class="navbar-header">
                                <a href="{{ path('Xbos_core_home')  }}" ><img src="{{ asset('bundles/xboscore/images/xbos-logo.png') }}"  class="navbar-brand" title="X-BOS"></a>
                            </div><!-- /End Navbar Header / Logo -->

                            <!-- Toggle Menu Button -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="menu-wd">Menu</span>
                                <span class="lines-wrapper"><i class="lines"></i></span>
                            </button><!-- /End Toggle Menu Button -->


                        </div><!-- /End Top Header Widget Container -->
                    </div><!-- /End Top Header Widget -->
                    <div class="section-title text-center">

                        <p class="section-main-title" style="font-size: 14px" > {{ 'form.index.title' |trans }}</p>

                        <h6 class="section-subtitle" style="font-size: 12px">{{ 'form.index.underTitle'|trans }}</h6>


                    </div>

                    <a href="#" class="form-open-btn">
                        <i class="fa fa-search"></i>
                    </a>



                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Top Header -->


        <!-- Header Menu ( Center ) -->
        <div class="header-menu header-menu-center-side">
            <!-- Header Menu Container -->
            <div class="header-menu-container">


                <!-- Navbar -->
                <nav class="navbar">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                {#<ul class="navbar-collapse collapse">#}
                                    {#<ul class="nav navbar-nav">#}
                                        {#<li></li>#}

                                        {#<li class="header-lang-btn">#}
                                            {#<a href="#" title="{{ 'form.language' | trans }}" ><span><i class="fa fa-globe" aria-hidden="true"></i>{{ 'form.language' | trans }}</span></a>#}
                                            {#<!-- Header Language Menu -->#}
                                            {#<ul class="header-language-menu">#}
                                                {#<li>#}
                                                    {#<a href="{{ path('Xbos_locale', {_locale: 'en'}) }}" title="English">{{ 'form.english' | trans }}#}
                                                        {#<img src="{{ asset('bundles/xboscore/images/flags/flagEN.png') }}" alt="United Kingdom" />#}
                                                    {#</a>#}
                                                {#</li>#}
                                                {#<li>#}
                                                    {#<a href="{{ path('Xbos_locale', {_locale: 'sr_Latn'}) }}" title="Srpski">{{ 'form.serbian' | trans }}#}
                                                        {#<img src="{{ asset('bundles/xboscore/images/flags/flagSR.png') }}" alt="Serbia" />#}
                                                    {#</a>#}
                                                {#</li>#}
                                            {#</ul><!-- /End Header Language Menu -->#}
                                        {#</li><!-- /End Header Language Button -->#}
                                    {#</ul>#}
                                {#</ul>#}
                                <div class="gfort-tabs">


                                    <!-- Nav Tabs -->
                                    <ul class="nav nav-tabs" role="tablist">

                                        <li role="presentation" class="active">
                                            <a href="#retail" aria-controls="tab-1" role="tab" data-toggle="tab"><img src="{{ asset('bundles/xboscore/images/RetailResize.png') }}">Fizicko Lice</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#corporate" aria-controls="tab-2" role="tab" data-toggle="tab"><img src="{{ asset('bundles/xboscore/images/CorporateResize.png') }}">Pravno LIce</a>
                                        </li>

                                    </ul><!-- /End Nav Tabs -->
                                </div>
                                <div class="tab-content">

                                    <div role="tabpanel" class="tab-pane fade in active" id="retail">
                                        <ul class="navbar-collapse collapse" >
                                            <ul class="nav navbar-nav" id="header-retail" >
                                                <li></li>
                                                <li class="">
                                                    <a href="#">{{ 'form.meta.product'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_meta_product_add') }}">{{ 'form.meta.product.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_product_type_add') }}">{{ 'form.producttype.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_property_category_add') }}">{{ 'form.propertyCategory.add' | trans }}</a></li>

                                                    </ul>
                                                </li>

                                                <li class="">
                                                    <a href="#">{{ 'form.product'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_product_add') }}">{{ 'form.product.add' | trans }}</a></li>

                                                    </ul>

                                                </li>
                                                <li class="">
                                                    <a href="#">{{ 'form.blog.article'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_blog_article_add') }}">{{ 'form.blog.article.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_blog_article_show') }}">{{ 'form.blog.article.show' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_blog_article_category_add') }}">{{ 'form.blog.article.category.add' | trans }}</a></li>


                                                    </ul>

                                                </li>

                                                {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li >
                                                        <a href="#">{{ 'form.inbox' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_message_inbox', {page : '1'}) }}">{{ 'form.inbox1' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li class="">
                                                        <a href="#">{{ 'form.setImportance' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_set_importance', {page : '1'}) }}">{{ 'form.setImportance' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li class="">
                                                        <a href="#">{{ 'form.bank' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_bank_list') }}">{{ 'form.bank' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li >
                                                        <a href="#">{{ 'form.getStarted' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_retail_user_create') }}">{{ 'form.retail' | trans }}</a></li>
                                                            <li><a href="{{ path('Xbos_core_corporate_user_create') }}">{{ 'form.corporate' | trans }}</a></li>

                                                        </ul>
                                                    </li>
                                                {% endif %}

                                                {% if is_granted ("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li class="">
                                                        <a href="#">{{ 'form.myProfile' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_retail_profile', { userId: app.user.id}) }}">{{ 'form.retailProfile' | trans }}</a></li>
                                                            <li><a href="{{ path('Xbos_core_corporate_profile', { userId: app.user.id}) }}">{{ 'form.corporateProfile' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li class="">
                                                        <a href="#">{{ 'form.unit'| trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_unit_add') }}">{{ 'form.unit.add' | trans }}</a></li>

                                                        </ul>
                                                    </li>



                                                {% endif %}



                                            </ul>
                                        </ul>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="corporate">
                                        <ul class="navbar-collapse collapse" >
                                            <ul class="nav navbar-nav" id="header-retail"  >
                                                <li></li>
                                                <li class="">
                                                    <a href="#">{{ 'form.meta.product'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_meta_product_add') }}">{{ 'form.meta.product.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_product_type_add') }}">{{ 'form.producttype.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_property_category_add') }}">{{ 'form.propertyCategory.add' | trans }}</a></li>

                                                    </ul>
                                                </li>

                                                <li class="">
                                                    <a href="#">{{ 'form.product'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_product_add') }}">{{ 'form.product.add' | trans }}</a></li>

                                                    </ul>

                                                </li>
                                                <li class="">
                                                    <a href="#">{{ 'form.blog.article'| trans }}</a>
                                                    <ul class="submenu">
                                                        <li><a href="{{ path('Xbos_core_blog_article_add') }}">{{ 'form.blog.article.add' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_blog_article_show') }}">{{ 'form.blog.article.show' | trans }}</a></li>
                                                        <li><a href="{{ path('Xbos_core_blog_article_category_add') }}">{{ 'form.blog.article.category.add' | trans }}</a></li>


                                                    </ul>

                                                </li>

                                                {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li >
                                                        <a href="#">{{ 'form.inbox' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_message_inbox', {page : '1'}) }}">{{ 'form.inbox1' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li class="">
                                                        <a href="#">{{ 'form.setImportance' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_set_importance', {page : '1'}) }}">{{ 'form.setImportance' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li >
                                                        <a href="#">{{ 'form.getStarted' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_retail_user_create') }}">{{ 'form.retail' | trans }}</a></li>
                                                            <li><a href="{{ path('Xbos_core_corporate_user_create') }}">{{ 'form.corporate' | trans }}</a></li>

                                                        </ul>
                                                    </li>
                                                {% endif %}

                                                {% if is_granted ("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li class="">
                                                        <a href="#">{{ 'form.myProfile' | trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_retail_profile', { userId: app.user.id}) }}">{{ 'form.retailProfile' | trans }}</a></li>
                                                            <li><a href="{{ path('Xbos_core_corporate_profile', { userId: app.user.id}) }}">{{ 'form.corporateProfile' | trans }}</a></li>

                                                        </ul>

                                                    </li>
                                                    <li class="">
                                                        <a href="#">{{ 'form.unit'| trans }}</a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ path('Xbos_core_unit_add') }}">{{ 'form.unit.add' | trans }}</a></li>

                                                        </ul>
                                                    </li>



                                                {% endif %}



                                            </ul>
                                        </ul>

                                    </div>
                                </div>


                                <!-- Navbar Collapse (Menu) -->
                                <ul class="navbar-collapse collapse" >
                                    <ul class="nav navbar-nav" id="header-retail" style="display: none;" >
                                        <li></li>
                                        <li class="">
                                            <a href="#">{{ 'form.meta.product'| trans }}</a>
                                            <ul class="submenu">
                                                <li><a href="{{ path('Xbos_core_meta_product_add') }}">{{ 'form.meta.product.add' | trans }}</a></li>
                                                <li><a href="{{ path('Xbos_core_product_type_add') }}">{{ 'form.producttype.add' | trans }}</a></li>
                                                <li><a href="{{ path('Xbos_core_property_category_add') }}">{{ 'form.propertyCategory.add' | trans }}</a></li>

                                            </ul>
                                        </li>

                                        <li class="">
                                            <a href="#">{{ 'form.product'| trans }}</a>
                                            <ul class="submenu">
                                                <li><a href="{{ path('Xbos_core_product_add') }}">{{ 'form.product.add' | trans }}</a></li>

                                            </ul>

                                        </li>
                                        <li class="">
                                            <a href="#">{{ 'form.blog.article'| trans }}</a>
                                            <ul class="submenu">
                                                <li><a href="{{ path('Xbos_core_blog_article_add') }}">{{ 'form.blog.article.add' | trans }}</a></li>
                                                <li><a href="{{ path('Xbos_core_blog_article_show') }}">{{ 'form.blog.article.show' | trans }}</a></li>
                                                <li><a href="{{ path('Xbos_core_blog_article_category_add') }}">{{ 'form.blog.article.category.add' | trans }}</a></li>


                                            </ul>

                                        </li>

                                        {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li >
                                                <a href="#">{{ 'form.inbox' | trans }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('Xbos_core_message_inbox', {page : '1'}) }}">{{ 'form.inbox1' | trans }}</a></li>

                                                </ul>

                                            </li>
                                            <li class="">
                                                <a href="#">{{ 'form.setImportance' | trans }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('Xbos_core_set_importance', {page : '1'}) }}">{{ 'form.setImportance' | trans }}</a></li>

                                                </ul>

                                            </li>
                                            <li >
                                                <a href="#">{{ 'form.getStarted' | trans }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('Xbos_core_retail_user_create') }}">{{ 'form.retail' | trans }}</a></li>
                                                    <li><a href="{{ path('Xbos_core_corporate_user_create') }}">{{ 'form.corporate' | trans }}</a></li>

                                                </ul>
                                            </li>
                                        {% endif %}

                                        {% if is_granted ("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li class="">
                                                <a href="#">{{ 'form.myProfile' | trans }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('Xbos_core_retail_profile', { userId: app.user.id}) }}">{{ 'form.retailProfile' | trans }}</a></li>
                                                    <li><a href="{{ path('Xbos_core_corporate_profile', { userId: app.user.id}) }}">{{ 'form.corporateProfile' | trans }}</a></li>

                                                </ul>

                                            </li>
                                            <li class="">
                                                <a href="#">{{ 'form.unit'| trans }}</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('Xbos_core_unit_add') }}">{{ 'form.unit.add' | trans }}</a></li>

                                                </ul>
                                            </li>



                                        {% endif %}



                                    </ul>
                                </ul>
                            </div><!-- /End Navbar Collapse (Menu) -->



                        </div><!-- /End col-md-12 -->
                    </div><!-- /End row -->
                </nav><!-- /End Navbar -->


                <!-- Header Search Form Block
                ==================================================== -->
                <div class="form-block header-search-form-block">
                    <!-- Form Block Container -->
                    <div class="form-block-container">
                        <!-- Form -->
                        <form method="get" action="#">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Form Group -->
                                <div class="form-group">

                                    <!-- Close Button -->
                                    <a href="#" class="form-close-btn">&times;</a>

                                    <input type="text" class="form-control" placeholder="Type then hit enter to search..." name="s" autocomplete="off">

                                </div><!-- /End Form Group -->
                            </div><!-- /End col-md-12 -->


                        </form><!-- /End Form -->
                    </div><!-- /End Form Block Container -->
                </div><!-- /End Header Search Form Block -->


            </div><!-- /End Header Menu Container -->
        </div><!-- /End Header Menu ( Center ) -->


    </div><!-- /End Header Section Container -->
</header><!-- /End Header Section -->

<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("header-retail");
        if (x.style.display === "none") {
            x.style.transition ="all 2s";
            x.style.display = "block";
        } else {
            x.style.transition ="all 2s";
            x.style.display = "none";
        }
    }
    function myFunction1() {
        var x = document.getElementById("header-retail");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>