{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}


    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.setImportance' | trans }}</h2>
                                </div><!-- /End Section Title -->
                            </div><!-- /End col-md-12 -->

                            <div class="col-md-12">
                                <form action="/setImportance" method="post">
                                <div class="table-responsive">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.points' | trans }}</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% set i = 1 %}
                                        {% set page = page > 0 ? page : 1 %}


                                        {% for profileImportance in profileImportances %}

                                            <tr>
                                                <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                <td>{{ profileImportance.name |trans }}</td>
                                                <td class="col-md-2" ><input style="width: 40px" type="text" name="{{  profileImportance.name }}" value="{{ profileImportance.points }}" class="form-control" aria-label="Text input with checkbox"></td>
                                            </tr>
                                            {% set i = i + 1 %}
                                        {%  endfor %}
                                        </tbody>


                                    </table>
                                </div>
                                <!-- Form Group -->
                                <div class="form-group">

                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveChanges' | trans }}</button>

                                </div><!-- /End Form Group -->
                                </form>
                            </div><!-- /End col-md-12 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock content %}