{% extends 'XbosCoreBundle::layout.html.twig' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}
{% block content %}


    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.unitAdd'|trans }}</h2>
                                </div><!-- /End Section Title -->
                            </div><!-- /End col-md-12 -->

                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.symbol' | trans }}</th>
                                            <th align="center">{{ 'form.productOptions' | trans }}</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% set i = 1 %}
                                        {% set page = page > 0 ? page : 1 %}

                                        {% for unit in units %}
                                            <tr>
                                                <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                <td>{{ unit.name }}</td>
                                                <td>{{ unit.symbol }}</td>
                                                <td>

                                                    <a href="{{ path('Xbos_core_unit_add', { unitId: unit.id,  page: page }) }}" class="btn btn-primary btn-sm mb-30">{{ 'form.editUnit' | trans }}</a>

                                                </td>
                                            </tr>

                                            {% set i = i + 1 %}
                                        {%  endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div><!-- /End col-md-12 -->
                            <div class="gfort-navigation-block">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {{ pagination|raw }}
                                    </ul>
                                </nav>
                            </div>
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <div class="gfort-accordion">
                                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


                                        <!-- Panel 1 -->
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">
                                                        {% if unitId is null %}
                                                        {{ 'form.unitAdd' | trans }}
                                                        {% else %}
                                                        {{ 'form.unitEdit' |trans }}
                                                        {% endif %}
                                                        </a>
                                                </h4>
                                            </div>

                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                            <!-- Form -->
                                                            {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}


                                                            <!-- Name -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {{ form_errors(form.name) }}
                                                                    {{ form_label(form.name) }}
                                                                    {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                                                </div>
                                                            </div><!-- /End Name -->


                                                            <!-- Email Address -->
                                                            <div class="col-md-4">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    {{ form_errors(form.symbol) }}
                                                                    {{ form_label(form.symbol) }}
                                                                    {{ form_widget(form.symbol, { attr: { 'class': 'form-control'  }}) }}

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Email Address -->


                                                            <!-- Submit Button -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveUnit' | trans }}</button>

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Submit Button -->


                                                            {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}