{% extends 'XbosCoreBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div id="main-wrapper">


        <!-- Page Title Section
        ==================================================================== -->
        <div class="page-title-section parallax-section" style="background-image: url({{ asset('bundles/xboscore/images/page-title/005.jpg') }}">
            <!-- Section Container -->
            <div class="section-container">


                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">


                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->


            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        <div class="page-body">


            <!-- Main Content
            ================================================================ -->
            <div class="main-content">
                <!-- Main Content Container -->
                <div class="main-content-container">


                    <!-- gfort Section -->
                    <div class="gfort-section">
                        <!-- Section Container -->
                        <div class="section-container">
                            <!-- container -->
                            <div class="container">
                                <!-- row -->
                                <div class="row">


                                    <!-- col-md-12 -->
                                    <div class="col-md-12">
                                        <!-- Section Title -->
                                        <div class="section-title text-center pt-50 pb-50">

                                            <h2 class="section-main-title">{{ 'form.welcome' | trans }} </h2>



                                        </div><!-- /End Section Title -->
                                    </div><!-- /End col-md-12 -->


                                </div><!-- /End row -->
                            </div><!-- /End container -->
                        </div><!-- /End Section Container -->
                    </div><!-- /End gfort Section -->


                </div><!-- /End Main Content Container -->
            </div><!-- /End Main Content -->


        </div><!-- /End Page Body -->
    </div>



{% endblock content %}
