{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}


<!-- Main Wrapper
======================================================================== -->
<div id="main-wrapper">


    <!-- Page Body
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->


                <!-- gfort Section -->

                            <!-- row -->

                                    <!-- Account Form Block -->
                                    <div class="form-block account-form-block">

                                            {{ form_start(form, {attr: {'novalidate' : 'novalidate' }}) }}
                                                    <div class="col-md-12">
                                                        <div class="form-block-title text-center">
                                                            <h4>{{ 'form.registration.title'|trans }}</h4>
                                                        </div>
                                                    </div><!-- /End Form Block Title -->

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_errors(form.first_name) }}
                                                            {{ form_label(form.first_name) }}
                                                            {{ form_widget(form.first_name, { attr: {'class' : 'form-control' }}) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_errors(form.last_name) }}
                                                            {{ form_label(form.last_name) }}
                                                            {{ form_widget(form.last_name, { attr: { 'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_errors(form.email) }}
                                                            {{ form_label(form.email) }}
                                                            {{ form_widget(form.email, { attr: { 'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_errors(form.plainPassword.first) }}
                                                            {{ form_label(form.plainPassword.first) }}
                                                            {{ form_widget(form.plainPassword.first, { attr: { 'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.plainPassword.second) }}
                                                            {{ form_errors(form.plainPassword.second) }}
                                                            {{ form_widget(form.plainPassword.second, { attr: { 'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                            <!-- Submit Button -->
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <p>{{ 'form.terms' | trans }} <a href="#">{{ 'form.terms3' | trans }}</a> {{ 'form.terms1' | trans }} <a href="#"></a>{{ 'form.terms2' | trans }}</p>

                                                    <button type="submit" class="btn btn-gfort">{{ 'form.sign.up' | trans }}</button>

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Submit Button -->
                                            {{ form_end(form) }}





                                                <!-- Form Block Title -->
                                                <div class="col-md-12">
                                                    <div class="form-block-title text-center">
                                                        <h4>{{ 'form.alreadyHaveAcc' | trans }}</h4>
                                                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-gfort">{{ 'form.sign.in' | trans }}</a>
                                                    </div>
                                                </div><!-- /End Form Block Title -->


                                        <!-- /End Form Block Container -->
                                    </div><!-- /End Account Form Block -->

                       <!-- /End gfort Section -->


            <!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
</div>
