{% trans_default_domain 'FOSUserBundle' %}



<div id="main-wrapper">


    <!-- Page Body
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section grey-background-color">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Account Form Block -->
                                    <div class="form-block account-form-block">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            <form method="post" action="#">


                                                <!-- Form Block Title -->
                                                <div class="col-md-12">
                                                    <div class="form-block-title text-center">
                                                        <h4>{{ 'form.pwAssistance' | trans }}</h4>
                                                    </div>
                                                </div><!-- /End Form Block Title -->


                                                <!-- Username -->
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <label for="account_form_name">{{ 'form.username' | trans }}</label>
                                                        <input type="text" class="form-control" name="account_form_name" id="account_form_name">

                                                    </div>
                                                </div><!-- /End Username -->


                                                <!-- Email Address -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">
                                                        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" enctype="multipart/form-data" method="POST" class="fos_user_resetting_reset">
                                                            {{ form_widget(form) }}
                                                            <div>
                                                                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                                                            </div>
                                                        </form>
                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Email Address -->


                                                <!-- Submit Button -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                        <button type="submit" class="btn btn-gfort">{{ 'form.recoverPw'|trans }}</button>

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Submit Button -->


                                                <!-- Form Block Title -->
                                                <div class="col-md-12">
                                                    <div class="form-block-title text-center">
                                                        <h4>{{ 'form.rememberPw' | trans }}</h4>
                                                        <a href="sign-in.html" class="btn btn-gfort">{{ 'form.sign.in' | trans }}</a>
                                                    </div>
                                                </div><!-- /End Form Block Title -->


                                            </form><!-- /End Form -->
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Account Form Block -->
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
</div>
