<div id="blog-react-div" data-max="54" data-metaProductId="7" data-dataRoute="{{ "/" }}"></div>
<div class="container-fluid container-fluid-search" id="react-app-div" data-max="54" style="display: none"></div>