<div id="main-wrapper">
    <footer class="footer-section">


        <!-- Footer Top Section -->
        <div class="footer-top-section">
            <!-- Footer Top Section Container -->
            <div class="footer-top-section-container">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">


                        <!-- col-md-4 -->
                        <div class="col-md-5">


                            <!-- Widget Block ( Text ) -->
                            <div class="widget-block widget-block-text">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h6>{{ 'form.aboutUs' | trans }}</h6>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Body -->
                                    <div class="widget-block-body">
                                        Xbos is Serbia’s leading financial comparison website. We’re here to help you make smarter decisions about your personal finances and help you find the right financial products. We compare a range of banking products, from home loans to credit cards, personal loans and car loans, superannuation funds, savings accounts and more.

                                        With access to over 13,000 financial products from over 250 providers, RateCity does the leg work for you – narrowing down thousands of potential options to find products that suit your lifestyle and rates to suit your budget.

                                    </div><!-- /End Widget Block Body -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Text ) -->


                        </div><!-- /End col-md-4 -->


                        <!-- col-md-2 -->
                        <div class="col-md-3">


                            <!-- Widget Block ( Link ) -->
                            <div class="widget-block widget-block-link">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h6>{{ 'form.company' | trans }}</h6>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Body -->
                                    <div class="widget-block-body">

                                        <!-- Links Block -->
                                        <ul class="links-block">
                                            <li><a href="#" title="FAQs">{{ 'form.faq' | trans }}</a></li>
                                            <li><a href="#" title="Pricing">{{ 'form.pricing' | trans }}</a></li>
                                            <li><a href="#" title="Portfolio">{{ 'form.portfolio' | trans }}</a></li>
                                            <li><a href="#" title="About us">{{ 'form.aboutUs' | trans }}</a></li>
                                            <li><a href="#" title="Terms of use">{{ 'form.termsOfUse' | trans }}</a></li>
                                            <li><a href="#" title="Privacy Policy">{{ 'form.privacyPolicy' | trans }}</a></li>
                                        </ul><!-- /End Links Block -->

                                    </div><!-- /End Widget Block Body -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Link ) -->


                        </div><!-- /End col-md-2 -->


                        <!-- col-md-3 -->
                        <div class="col-md-4">


                            <!-- Widget Block ( Latest Posts ) -->
                            <div class="widget-block widget-block-posts">
                                <!-- Widget Block Container -->
                                <div class="widget-block-container">


                                    <!-- Widget Block Title -->
                                    <div class="widget-block-title">
                                        <h6>{{ 'form.latestPosts' | trans }}</h6>
                                    </div><!-- /End Widget Block Title -->


                                    <!-- Widget Block Body -->
                                    <div class="widget-block-body">

                                        <!-- Blog Posts -->
                                        <ul class="blog-posts">

                                            {% for recentBlog in recentBlogs %}
                                            <!-- Blog Item -->
                                            <li>

                                                <!-- Item image -->
                                                <a href="#" title="You must do the things you think you can't do" class="item-image overlay-hover scale-hover-2x">
                                                    <img src="{{ asset (recentBlog.getImageVariationPath(300,200)) }}" alt="Article Image" />
                                                </a>

                                                <!-- Blog Item Body -->
                                                <div class="blog-item-body">

                                                    <!-- Title -->
                                                    <a href="#" title="You must do the things you think you can't do" class="blog-item-small-title">{{ recentBlog.title }}</a>

                                                    <!-- Blog item Meta -->
                                                    <div class="blog-item-meta">
                                                                    <span class="item-meta-date">
                                                                        <time datetime="2016-05-17">{{ recentBlog.dateCreated.format('d-m-Y') }}</time>
                                                                    </span>
                                                        <span class="item-meta-comments">
                                                                    </span>
                                                    </div><!-- /End Blog item Meta -->

                                                </div><!-- /End Blog Item Body -->

                                            </li><!-- /End Blog Item -->

                                            {% endfor %}

                                        </ul><!-- /End Blog Posts -->

                                    </div><!-- /End Widget Block Body -->


                                </div><!-- /End Widget Block Container -->
                            </div><!-- /End Widget Block ( Latest Posts ) -->


                        </div><!-- /End col-md-3 -->

                    </div><!-- /End row -->
                </div><!-- /End container -->
            </div><!-- /End Footer Top Section Container -->
        </div><!-- /End Footer Top Section -->


        <!-- Footer copyright Section -->
        <div class="footer-copyright-section">
            <!-- Footer copyright Section Container -->
            <div class="footer-copyright-section-container">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">


                        <!-- copyright Widget ( Left ) -->
                        <div class="copyright-widget widget-left-side">
                            <!-- copyright Widget Container -->
                            <div class="copyright-widget-container">


                                <!-- Info Block -->
                                <div class="info-block">
                                    <!-- Info Block Container -->
                                    <div class="info-block-container">

                                        <p>&copy; 2017 <a href="http://themeforest.net/user/graphicfort/portfolio?ref=GraphicFort" title="Graphicfort" target="_blank">Graphicfort</a>, all rights reserved.</p>

                                    </div><!-- /End Info Block Container -->
                                </div><!-- /End Info Block -->


                            </div><!-- /End copyright Widget Container -->
                        </div><!-- /End copyright Widget ( Left ) -->


                        <!-- copyright Widget ( Right ) -->
                        <div class="copyright-widget widget-right-side">
                            <!-- copyright Widget Container -->
                            <div class="copyright-widget-container">

                                <!-- Social Icons Block ( small ) -->
                                <div class="social-icons-block icons-transparent icons-sm icons-style-1">
                                    <ul>

                                        <li>
                                            <a href="#" title="Facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Google Plus">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Twitter">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="youtube">
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Behance">
                                                <i class="fa fa-behance" aria-hidden="true"></i>
                                                <i class="fa fa-behance" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Pinterest">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Dribbble">
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div><!-- /End Social Icons Block ( small ) -->

                            </div><!-- /End copyright Widget Container -->
                        </div><!-- /End copyright Widget ( Right ) -->


                    </div><!-- /End row -->
                </div><!-- /End container -->
            </div><!-- /End Footer copyright Section Container -->
        </div><!-- /End Footer copyright Section -->


    </footer><!-- /End Footer Section -->


</div><!-- /End Main Wrapper -->