{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}


<div class="gfort-section">
    <!-- Section Container -->
    <div class="section-container">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                <!-- Name -->
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form_errors(form.productType) }}
                        {{ form_label(form.productType) }}
                        {{ form_widget(form.productType, { attr: { 'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        {{ form_errors(form.title) }}
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, { attr: { 'class': 'form-control' }}) }}
                    </div>
                </div>



                <!-- Submit Button -->
                <div class="col-md-12">
                    <!-- Form Group -->
                    <div class="form-group">

                        <button type="submit" class="btn btn-gfort">{{ 'form.createConversation' | trans }}</button>

                    </div><!-- /End Form Group -->
                </div><!-- /End Submit Button -->
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>

{% endblock content %}