{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}

    <div class="main-content">
    <!-- Main Content Container -->
        <div class="main-content-container">


        <!-- gfort Section -->
            <div class="gfort-section">
            <!-- Section Container -->
                <div class="section-container">
                <!-- container -->
                    <div class="container">
                    <!-- row -->
                        <div class="row">



                        <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.inbox' | trans }}</h2>

                                </div><!-- /End Section Title -->
                                <a href="{{ path('Xbos_core_conversation_create', {creatorId: app.user.id, participantId: 2, page:1}) }}" class="btn btn-success mb-30">{{ 'form.createConversation' | trans }}</a>
                            </div><!-- /End col-md-12 -->


                        </div>
                        <div class="col-md-12">
                            <!-- gfort-tabs -->
                            <div class="gfort-tabs">


                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" class="active">
                                        <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">{{ 'form.activeConversation' | trans }}</a>
                                    </li>

                                    <li role="presentation">
                                        <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">{{ 'form.closedConversation' | trans }}</a>
                                    </li>

                                </ul><!-- /End Nav Tabs -->


                                <!-- Tab Panes -->
                                <div class="tab-content">


                                    <!-- Tab Pane -->
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">

                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped">

                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{ 'form.title' | trans }}</th>
                                                        <th>{{ 'form.lastMessage' | trans }}</th>
                                                        <th>{{ 'form.numberOfMessages' | trans }}</th>
                                                        <th>{{ 'form.view' | trans }}</th>
                                                        <th>{{ 'form.closeConversation' | trans }}</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>

                                                    {% set i = 1 %}
                                                    {% set page = page > 0 ? page : 1 %}

                                                    {% for conversation  in conversations %}
                                                        <tr>
                                                            <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                            <td>{{ conversation.title }}</td>
                                                            <td>{{ conversation.lastMessageDateString }}</td>
                                                            <td>{{ conversation.messagesCount }}</td>
                                                            <td>
                                                                <a href="{{ path('Xbos_core_message_create', {creatorId: app.user.id, participantId: app.user.id, page:1 ,conversationId : conversation.id}) }}" class="btn btn-primary mb-30">{{ 'form.viewConversation' | trans }}</a>
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('Xbos_core_conversation_close', {conversationId : conversation.id}) }}" class="btn btn-danger mb-30">{{ 'form.closeConversation' | trans }}</a>
                                                            </td>
                                                        </tr>

                                                        {% set i = i + 1 %}
                                                    {%  endfor %}

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div><!-- /End col-md-12 -->
                                        <div class="gfort-navigation-block">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    {{ pagination|raw }}
                                                </ul>
                                            </nav>
                                        </div>

                                    </div><!-- /End Tab Pane -->


                                    <!-- Tab Pane -->
                                    <div role="tabpanel" class="tab-pane fade" id="tab-2">

                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped">

                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{ 'form.title' | trans }}</th>
                                                        <th>{{ 'form.lastMessage' | trans }}</th>
                                                        <th>{{ 'form.numberOfMessages' | trans }}</th>
                                                        <th>{{ 'form.view' | trans }}</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>

                                                    {% set i = 1 %}
                                                    {% set page = page > 0 ? page : 1 %}

                                                    {% for conversation  in closedConversations %}
                                                        <tr>
                                                            <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                            <td>{{ conversation.title }}</td>
                                                            <td>{{ conversation.lastMessageDateString }}</td>
                                                            <td>{{ conversation.messagesCount }}</td>
                                                            <td>
                                                                <a href="{{ path('Xbos_core_message_create', {creatorId: app.user.id, participantId: app.user.id, page:1 ,conversationId : conversation.id}) }}" class="btn btn-primary mb-30">{{ 'form.viewConversation' | trans }}</a>
                                                            </td>

                                                        </tr>

                                                        {% set i = i + 1 %}
                                                    {%  endfor %}

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div><!-- /End col-md-12 -->
                                        <div class="gfort-navigation-block">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    {{ pagination|raw }}
                                                </ul>
                                            </nav>
                                        </div>

                                    </div><!-- /End Tab Pane -->


                                    <!-- Tab Pane -->



                                </div><!-- /End Tab Panes -->


                            </div><!-- /End gfort-tabs -->
                        </div><!-- /End col-md-6 -->
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock content %}