{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}


<div class="gfort-section">
    <!-- Section Container -->
    <div class="section-container">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2 class="section-main-title">{{ conversation.title }}</h2>
                    </div><!-- /End Section Title -->
                </div><!-- /End col-md-12 -->


                <!-- col-md-12 -->

                <div class="col-md-12">
                    {% for message in messages %}
                    <!-- Testimonials items Wrapper -->
                        {% if app.user == message.sender %}
                    <div class="testimonials-items-wrapper testimonials-col-2">
                        <!-- Testimonials item -->
                        <div class="testimonials-item testimonials-item-style-1" style="float: right">
                            <!-- Testimonials item Container -->
                            <div class="testimonials-item-container">



                                <!-- Testimonials item Body -->
                                <div class="testimonials-item-body">
                                    <h5>{{ message.text }}</h5>
                                </div><!-- /End Testimonials item Body -->


                                <!-- Testimonials item Footer -->
                                <div class="testimonials-item-footer">

                                    <!-- Testimonials item Avatar -->
                                    <div class="testimonials-item-avatar">
                                        <img src="{{ asset (message.sender.getProfileImagePath(300,300)) }}" alt="Client Avatar" />
                                    </div><!-- /END Testimonials item Avatar -->

                                    <!-- Testimonials item Meta -->
                                    <div class="testimonials-item-meta">
                                        <!-- Testimonials item Meta Container -->
                                        <div class="testimonials-item-meta-container">

                                            <p class="testimonials-item-name">{{ app.user.firstName }} {{ app.user.lastName }}</p>
                                            <a href="#">{{ message.messageDateString }}</a>

                                        </div><!-- /End Testimonials item Meta Container -->
                                    </div><!-- /End Testimonials item Meta -->

                                </div><!-- /End Testimonials item Footer -->



                            </div><!-- /End Testimonials item Container -->
                        </div><!-- /End Testimonials item -->
                    </div>
                        {% else %}

                        <div class="testimonials-items-wrapper testimonials-col-2 ">
                        <!-- Testimonials item -->
                            <div class="testimonials-item testimonials-item-style-1" style="float: left">
                                <!-- Testimonials item Container -->

                                <!-- Testimonials item Avatar -->
                                <div class="testimonials-item-container">



                                    <!-- Testimonials item Body -->
                                    <div class="testimonials-item-body">
                                        <h5>{{ message.text }}</h5>
                                    </div><!-- /End Testimonials item Body -->


                                    <!-- Testimonials item Footer -->
                                    <div class="testimonials-item-footer">

                                        <!-- Testimonials item Avatar -->
                                        <div class="testimonials-item-avatar">
                                            <img src="{{ asset ('bundles/xboscore/images/avatar/002.jpg') }}" alt="Client Avatar" />
                                        </div><!-- /END Testimonials item Avatar -->

                                        <!-- Testimonials item Meta -->
                                        <div class="testimonials-item-meta">
                                            <!-- Testimonials item Meta Container -->
                                            <div class="testimonials-item-meta-container">

                                                <p class="testimonials-item-name">{{ message.sender.firstName }} {{ message.sender.lastName }}</p>
                                                <a href="#">{{ message.messageDateString }}</a>

                                            </div><!-- /End Testimonials item Meta Container -->
                                        </div><!-- /End Testimonials item Meta -->

                                    </div><!-- /End Testimonials item Footer -->



                                </div><!-- /End Testimonials item Container -->
                            </div><!-- /End Testimonials item -->
                        </div>
                        {% endif %}

                    {% endfor %}


                            </div><!-- /End Testimonials item -->
                            {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                            <!-- Name -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_errors(form.text) }}
                                    {{ form_label(form.text) }}
                                    {{ form_widget(form.text, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div><!-- /End Name -->
                            <div class="col-md-12">
                                <!-- Form Group -->
                                <div class="form-group">

                                    <button type="submit" class="btn btn-gfort">{{ 'form.sendMessage' | trans }}</button>

                                </div><!-- /End Form Group -->
                            </div><!-- /End Submit Button -->
                            {{ form_end(form) }}
                        </div>


                    </div><!-- /End Testimonials items Wrapper -->
                </div><!-- /End col-md-12 -->


            </div><!-- /End row -->


{% endblock content %}