{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}

    <div class="page-title-section parallax-section" style="background-image: url({{ asset('bundles/xboscore/images/parallax-images/003.jpg') }}">
        <!-- Section Container -->
        <div class="section-container">


            <!-- Breadcrumb Title -->
            <div class="breadcrumb-title light-color">
                <!-- container -->
                <div class="container">

                    <h1 class="breadcrumb-main-title">About US</h1>
                    <p class="breadcrumb-subtitle">Get to know us better</p>

                </div><!-- /End container -->
            </div><!-- /End Breadcrumb Title -->


            <!-- Breadcrumb Block -->
            <div class="breadcrumb-block">
                <!-- container -->
                <div class="container">

                    <ol class="breadcrumb">
                        <li><a href="{{ path('Xbos_core_home') }}" title="Home"><i class="fa fa-home"></i></a></li>
                        <li class="active">About us</li>
                    </ol>

                </div><!-- /End container -->
            </div><!-- /End Breadcrumb block -->


        </div><!-- /End Section Container -->
    </div><!-- /End Page Title Section -->


    <!-- Page Body
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-6 -->
                                <div class="col-md-6">


                                    <!-- Section Title -->
                                    <div class="section-title section-title-md">

                                        <h2 class="section-main-title">WHO ARE WE</h2>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">

                                                    <p>
                                                        Xbos is Serbia’s leading financial comparison website. We’re here to help you make smarter decisions about your personal finances and help you find the right financial products. We compare a range of banking products, from home loans to credit cards, personal loans and car loans, superannuation funds, savings accounts and more.

                                                        With access to over 13,000 financial products from over 250 providers, RateCity does the leg work for you – narrowing down thousands of potential options to find products that suit your lifestyle and rates to suit your budget.

                                                        RateCity’s sophisticated search tools mean you don’t have to visit hundreds of different websites to find the best deals. We show you side-by-side comparisons so you can see how a range of products stack up.

                                                        In short, we take the hassle out of finding the right financial products – saving you time and money.

                                                    </p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                </div><!-- /End col-md-6 -->


                                <!-- col-md-6 -->
                                <div class="col-md-6">


                                    <!-- Section Title -->
                                    <div class="section-title section-title-md">

                                        <h2 class="section-main-title">MetaProdcuts we offer</h2>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                    {% set i=40 %}

                                    {% for metaProduct in metaProducts %}

                                    <!-- Progress Block -->
                                    <div class="progress-block">
                                        <!-- Progress Block Container -->
                                        <div class="progress-block-container">

                                            <!-- Title -->
                                            <h6>{{ metaProduct.name }}</h6>

                                            <!-- Counter Block -->
                                            <div class="counter-block">
                                                <span class="number-block" data-to="95" data-speed="1500" data-refresh-interval="50">{{i }}</span>%
                                            </div><!-- /End Counter Block -->

                                            <!-- Progress -->
                                            <div class="progress">
                                                <div class="progress-bar"></div>
                                            </div><!-- /End Progress -->

                                        </div><!-- /End Progress Block Container -->
                                    </div><!-- /End Progress Block -->

                                    {% endfor %}


                                    <!-- Progress Block -->
                                    <div class="progress-block">
                                        <!-- Progress Block Container -->
                                        <div class="progress-block-container">

                                            <!-- Title -->
                                            <h6>CSS3</h6>

                                            <!-- Counter Block -->
                                            <div class="counter-block">
                                                <span class="number-block" data-to="95" data-speed="1500" data-refresh-interval="50">95</span>%
                                            </div><!-- /End Counter Block -->

                                            <!-- Progress -->
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #16a085;"></div>
                                            </div><!-- /End Progress -->

                                        </div><!-- /End Progress Block Container -->
                                    </div><!-- /End Progress Block -->


                                    <!-- Progress Block -->
                                    <div class="progress-block">
                                        <!-- Progress Block Container -->
                                        <div class="progress-block-container">

                                            <!-- Title -->
                                            <h6>Javascript</h6>

                                            <!-- Counter Block -->
                                            <div class="counter-block">
                                                <span class="number-block" data-to="90" data-speed="1500" data-refresh-interval="50">90</span>%
                                            </div><!-- /End Counter Block -->

                                            <!-- Progress -->
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #e74c3c;"></div>
                                            </div><!-- /End Progress -->

                                        </div><!-- /End Progress Block Container -->
                                    </div><!-- /End Progress Block -->


                                    <!-- Progress Block -->
                                    <div class="progress-block">
                                        <!-- Progress Block Container -->
                                        <div class="progress-block-container">

                                            <!-- Title -->
                                            <h6>PHP</h6>

                                            <!-- Counter Block -->
                                            <div class="counter-block">
                                                <span class="number-block" data-to="85" data-speed="1500" data-refresh-interval="50">85</span>%
                                            </div><!-- /End Counter Block -->

                                            <!-- Progress -->
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #8e44ad;"></div>
                                            </div><!-- /End Progress -->

                                        </div><!-- /End Progress Block Container -->
                                    </div><!-- /End Progress Block -->


                                    <!-- Progress Block -->
                                    <div class="progress-block">
                                        <!-- Progress Block Container -->
                                        <div class="progress-block-container">

                                            <!-- Title -->
                                            <h6>WordPress</h6>

                                            <!-- Counter Block -->
                                            <div class="counter-block">
                                                <span class="number-block" data-to="95" data-speed="1500" data-refresh-interval="50">95</span>%
                                            </div><!-- /End Counter Block -->

                                            <!-- Progress -->
                                            <div class="progress">
                                                <div class="progress-bar" style="background-color: #f39c12;"></div>
                                            </div><!-- /End Progress -->

                                        </div><!-- /End Progress Block Container -->
                                    </div><!-- /End Progress Block -->


                                </div><!-- /End col-md-6 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section half-section right-side-media grey-background-color">


                    <!-- Half Section Media -->
                    <div class="half-section-media">
                        <img src="{{ asset('bundles/xboscore/images/misc/021.png') }}" alt="Section Image" />
                    </div><!-- /End Half Section Media -->


                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>OUR MISSION</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Quisque viverra accumsan urna fermentum elementum. Etiam vitae elit at nulla egestas efficitur sit amet eu leo. Maecenas maximus leo sed neque molestie, eget fermentum purus lacinia.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>OUR VISION</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Proin id eros scelerisque, posuere dolor laoreet, pretium ligula. Donec auctor eget tellus quis imperdiet. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>OUR PHILOSOPHY</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Donec pulvinar quam dolor, vitae semper ligula pretium eu. Phasellus vitae turpis vel nisi vehicula pharetra. Fusce volutpat dolor pellentesque, consequat nibh nec, ultrices urna. Proin id eros scelerisque.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->


                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->
                                    <div class="section-title text-center">

                                        <h2 class="section-main-title">OUR TEAM</h2>

                                        <p class="section-subtitle">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-6 -->
                                <div class="col-md-6">


                                    <!-- Team Block -->
                                    <div class="team-block team-block-style-1">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container">


                                            <!-- Team Block Media -->
                                            <div class="team-block-media">
                                                <img src="{{ asset('bundles/xboscore/images/team/001-2.jpg') }}" alt="Team Member image" />
                                            </div><!-- /End Team Block Media -->


                                            <!-- Team Block Body -->
                                            <div class="team-block-body">

                                                <!-- Team Block Title -->
                                                <div class="team-block-title">
                                                    <h4 class="team-block-name">ARTHUR</h4>
                                                    <p class="team-block-subtitle">CEO</p>
                                                </div><!-- /End Team Block Title -->

                                                <!-- Team Block Desc -->
                                                <div class="team-block-desc">
                                                    <p>Donec pulvinar quam dolor, vitae semper eu ligula pretium. Phasellus vitae turpis vel nunc ullamcorper commodo facilisis.</p>
                                                </div><!-- /End Team Block Desc -->

                                                <!-- Team Block Social icons -->
                                                <div class="team-block-social-icons">
                                                    <!-- Social Icons Block -->
                                                    <div class="social-icons-block icons-style-1">
                                                        <ul>

                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Google Plus">
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Pinterest">
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social Icons Block -->
                                                </div><!-- /End Team Block Social icons -->

                                            </div><!-- /End Team Block Body -->


                                        </div><!-- /End Team Block Container -->
                                    </div><!-- /End Team Block -->


                                    <!-- Team Block -->
                                    <div class="team-block team-block-style-1">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container">


                                            <!-- Team Block Media -->
                                            <div class="team-block-media">
                                                <img src="{{ asset('bundles/xboscore/images/team/002-2.jpg') }}" alt="Team Member image" />
                                            </div><!-- /End Team Block Media -->


                                            <!-- Team Block Body -->
                                            <div class="team-block-body">

                                                <!-- Team Block Title -->
                                                <div class="team-block-title">
                                                    <h4 class="team-block-name">ABELLE</h4>
                                                    <p class="team-block-subtitle">Marketing</p>
                                                </div><!-- /End Team Block Title -->

                                                <!-- Team Block Desc -->
                                                <div class="team-block-desc">
                                                    <p>Maecenas fringilla mattis quam vitae blandit. Duis fermentum, purus vitae semper sollicitudin, lorem risus pretium nisl, consequat molestie arcu lorem sed odio.</p>
                                                </div><!-- /End Team Block Desc -->

                                                <!-- Team Block Social icons -->
                                                <div class="team-block-social-icons">
                                                    <!-- Social Icons Block -->
                                                    <div class="social-icons-block icons-style-1">
                                                        <ul>

                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Google Plus">
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Pinterest">
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social Icons Block -->
                                                </div><!-- /End Team Block Social icons -->

                                            </div><!-- /End Team Block Body -->


                                        </div><!-- /End Team Block Container -->
                                    </div><!-- /End Team Block -->


                                </div><!-- /End col-md-6 -->


                                <!-- col-md-6 -->
                                <div class="col-md-6">


                                    <!-- Team Block -->
                                    <div class="team-block team-block-style-1">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container">


                                            <!-- Team Block Media -->
                                            <div class="team-block-media">
                                                <img src="{{ asset('bundles/xboscore/images/team/003-2.jpg') }}" alt="Team Member image" />
                                            </div><!-- /End Team Block Media -->


                                            <!-- Team Block Body -->
                                            <div class="team-block-body">

                                                <!-- Team Block Title -->
                                                <div class="team-block-title">
                                                    <h4 class="team-block-name">CORIN</h4>
                                                    <p class="team-block-subtitle">Art Director</p>
                                                </div><!-- /End Team Block Title -->

                                                <!-- Team Block Desc -->
                                                <div class="team-block-desc">
                                                    <p>Integer a fringilla augue, sit amet efficitur arcu. Nullam in odio posuere, tincidunt magna id. Elit lorem, tempor in urna id, placerat venenatis felis.</p>
                                                </div><!-- /End Team Block Desc -->

                                                <!-- Team Block Social icons -->
                                                <div class="team-block-social-icons">
                                                    <!-- Social Icons Block -->
                                                    <div class="social-icons-block icons-style-1">
                                                        <ul>

                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Google Plus">
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Pinterest">
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social Icons Block -->
                                                </div><!-- /End Team Block Social icons -->

                                            </div><!-- /End Team Block Body -->


                                        </div><!-- /End Team Block Container -->
                                    </div><!-- /End Team Block -->


                                    <!-- Team Block -->
                                    <div class="team-block team-block-style-1">
                                        <!-- Team Block Container -->
                                        <div class="team-block-container">


                                            <!-- Team Block Media -->
                                            <div class="team-block-media">
                                                <img src="{{ asset('bundles/xboscore/images/team/004-2.jpg') }}" alt="Team Member image" />
                                            </div><!-- /End Team Block Media -->


                                            <!-- Team Block Body -->
                                            <div class="team-block-body">

                                                <!-- Team Block Title -->
                                                <div class="team-block-title">
                                                    <h4 class="team-block-name">ACELINE</h4>
                                                    <p class="team-block-subtitle">Designer</p>
                                                </div><!-- /End Team Block Title -->

                                                <!-- Team Block Desc -->
                                                <div class="team-block-desc">
                                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae, Proin a dolor eget lorem volutpat tempor sit amet id nisi.</p>
                                                </div><!-- /End Team Block Desc -->

                                                <!-- Team Block Social icons -->
                                                <div class="team-block-social-icons">
                                                    <!-- Social Icons Block -->
                                                    <div class="social-icons-block icons-style-1">
                                                        <ul>

                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Google Plus">
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Pinterest">
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social Icons Block -->
                                                </div><!-- /End Team Block Social icons -->

                                            </div><!-- /End Team Block Body -->


                                        </div><!-- /End Team Block Container -->
                                    </div><!-- /End Team Block -->


                                </div><!-- /End col-md-6 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section grey-background-color">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->
                                    <div class="section-title text-center">

                                        <h2 class="section-main-title">WE WORK WITH</h2>

                                        <p class="section-subtitle">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Clients items Wrapper -->
                                    <div class="clients-items-wrapper clients-col-6">


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/001.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/002.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/003.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/004.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/005.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                        <!-- Client item -->
                                        <div class="client-item">
                                            <a href="#">
                                                <img src="{{ asset('bundles/xboscore/images/clients/006.png') }}" alt="Client Logo" />
                                            </a>
                                        </div><!-- /End Client item -->


                                    </div><!-- /End Clients items Wrapper -->
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->

{% endblock content %}