{% extends 'XbosCoreBundle::layout.html.twig' %}



{% block content %}

    <div class="container-fluid container-fluid-search" id="react-app-div" data-max="54" data-metaProductId="{{ metaProductId }}" data-dataRoute="{{ "/rest/getProducts?metaProductId=" }}"></div>

{% endblock content %}
