{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/xboscore/js/vendor/croppie/croppie.min.js'
        'bundles/xboscore/js/controllers/editProfile.js'
    %}
    <script src="{{  asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}

<div class="page-body">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- gfort-tabs -->
                                <div class="gfort-tabs gfort-tabs-vertical gfort-tabs-bordered">


                                    <!-- Nav Tabs -->
                                    <ul class="nav nav-tabs" role="tablist">

                                        <li role="presentation" class="">
                                            <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">{{ 'form.companyInformations' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">{{ 'form.comapanyContactDetails' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">{{ 'form.membersOwners' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">{{ 'form.userImage' | trans}}</a>
                                        </li>


                                    </ul><!-- /End Nav Tabs -->

                                        <div class="gfort-block-content">
                                            <p>{{ 'form.profileValue' | trans }} <span class="counter-block counter-inline-block"><span class="number-block" data-to="900" data-speed="5000" data-refresh-interval="50">{{ user.corporate.profileValue }}</span></span> {{ 'form.profileValue1' | trans }} <span class="counter-block counter-inline-block"><span class="number-block" data-to="450" data-speed="5000" data-refresh-interval="50">{{ corporateValue }} </span></span> <span class="counter-block counter-inline-block"><span class="number-block" data-to="800" data-speed="5000" data-refresh-interval="50"></span></span> {{ 'form.profileValue2' | trans }}</p>
                                            <p>{{ 'form.profileValuePercentage' | trans }} <span class="counter-block counter-inline-block"><span class="number-block" data-to="900" data-speed="5000" data-refresh-interval="50">{{ user.corporate.profileValuePercent |number_format }} %</span></span></p>
                                        </div><!-- /End gfort Block Content -->

                                    <!-- Tab Panes -->
                                    <div class="tab-content">



                                        <!-- Tab Pane -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="tab-1">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                            <h5 class="mb-10">{{ 'form.companyInformations' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.companyName' | trans }}: {{ user.corporate.companyName }}</li>

                                                <li>- {{ 'form.legalForm' | trans }}: {{ user.corporate.legalForm }}</li>

                                                <li>- {{ 'form.basicCapital' | trans }}: {{ user.corporate.basicCapital }} </li>

                                                <li>- {{ 'form.identificationNumber' | trans }}: {{ user.corporate.identificationNumber }}</li>

                                                <li>- {{ 'form.pib' | trans }}: {{ user.corporate.pib }}</li>

                                                <li>- {{ 'form.numberOfEmployees' | trans }}: {{ user.corporate.numberOfEmployees }}</li>

                                                <li>- {{ 'form.yearlyIncome' | trans }}: {{ user.corporate.yearlyIncome}}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in" id="tab-2">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5 class="mb-10">{{ 'form.comapanyContactDetails' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.country' | trans}}: {{ user.corporate.country }}</li>

                                                <li>- {{ 'form.city' | trans}}: {{ user.corporate.city }}</li>

                                                <li>- {{ 'form.address' | trans}}: {{ user.corporate.address }}</li>

                                                <li>- {{ 'form.zip' | trans}}: {{ user.corporate.zipCode }}</li>

                                                <li>- {{ 'form.phone' | trans}}: {{ user.corporate.phone }}</li>

                                                <li>- {{ 'form.mobilePhone' | trans}}: {{ user.corporate.mobilePhone }}</li>

                                                <li>- {{ 'form.email' | trans}}: {{ user.corporate.email }}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in" id="tab-3">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5>{{ 'form.membersOwners' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.firstName' | trans }}: {{ user.corporate.ownerName }}</li>

                                                <li>- {{ 'form.lastName' | trans}}: {{ user.corporate.ownerLastName }}</li>

                                                <li>- {{ 'form.title' | trans }}: {{ user.corporate.title }}</li>

                                                <li>- {{ 'form.capital' | trans }}: {{ user.corporate.capital }}</li>

                                                <li>- {{ 'form.country' | trans }}: {{ user.corporate.ownerCountry }}</li>

                                                <li>- {{ 'form.city' | trans }}: {{ user.corporate.ownerCity }}</li>

                                                <li>- {{ 'form.zip' | trans }}: {{ user.corporate.ownerZipCode }}</li>

                                                <li>- {{ 'form.address' | trans }}: {{ user.corporate.ownerAddress }}</li>

                                                <li>- {{ 'form.phone' | trans }}: {{ user.corporate.ownerPhone }}</li>

                                                <li>- {{ 'form.mobilePhone' | trans }}: {{ user.corporate.ownerMobilePhone }}</li>

                                                <li>- {{ 'form.email' | trans }}: {{ user.corporate.ownerEmail }}</li>

                                            </ul>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                            <a href="#" class="btn btn-gfort">{{ 'form.applyNow' | trans }}</a>

                                        </div><!-- /End Tab Pane -->

                                        <div role="tabpanel" class="tab-pane fade in " id="tab-4">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p><img src="{{ asset(user.getImageVariationPath(150,150)) }}"> {{ user.firstName }} {{ user.lastName }} </p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5>{{ 'form.userImage' | trans }}:</h5>
                                            0
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group image-upload">
                                                        <label> <img src="{{ user.getImageVariationPath(300,200) }}" id="upload-preview" style="position: absolute;" ></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-row">
                                                <div class="submit-wrapper col-xs-12 animatedBlock">
                                                    <img src="{{ user.getImageVariationPath(300,200) }}" id="upload-preview" style="position: absolute;" >
                                                    <div class="submit-wrap">
                                                        <input id="upload-image" type="button" value="Upload" class="btn btn-info btn-gfort btn-gfort-md mb-30"><i class="ajax-loader-custom fa fa-spinner fa-spin" aria-hidden="true" style="visibility: hidden;"></i>
                                                        <label> <input id="upload" value="Choose a file" about="images/*" type="file" style="display: none" ><a class="btn btn-info btn-gfort btn-gfort-md mb-30"> Browse</a></label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                        </div>


                                    </div><!-- /End Tab Pane -->



                                </div><!-- /End gfort-tabs -->
                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


</div><!-- /End Page Body -->

{% endblock content %}