{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts

    %}
    <script src="{{  asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}


<div class="page-body">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- gfort-tabs -->
                                <div class="gfort-tabs gfort-tabs-vertical gfort-tabs-bordered">

                                    <!-- Nav Tabs -->
                                    <ul class="nav nav-tabs" role="tablist">

                                        <li role="presentation" class="">
                                            <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">{{ 'form.personalDetails' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">{{ 'form.contactDetails' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">{{ 'form.houseInfo' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">{{ 'form.financeInfo' | trans}}</a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab">{{ 'form.userImage' | trans}}</a>
                                        </li>



                                    </ul><!-- /End Nav Tabs -->
                                        <div class="gfort-block-content">

                                            <p>{{ 'form.profileValue' | trans }}  <span class="counter-block counter-inline-block"><span class="number-block" data-to="900" data-speed="5000" data-refresh-interval="50">{{ user.retail.profileValue }}</span></span> {{ 'form.profileValue1' | trans }} <span class="counter-block counter-inline-block"><span class="number-block" data-to="450" data-speed="5000" data-refresh-interval="50">{{ retailValue }} </span></span> <span class="counter-block counter-inline-block"><span class="number-block" data-to="800" data-speed="5000" data-refresh-interval="50"></span></span> {{ 'form.profileValue2' | trans }}</p>
                                            <p>{{ 'form.profileValuePercentage' | trans }}  <span class="counter-block counter-inline-block"><span class="number-block" data-to="900" data-speed="5000" data-refresh-interval="50">{{ user.retail.profileValuePercent }} %</span></span></p>
                                        </div><!-- /End gfort Block Content -->

                                    <!-- Tab Panes -->
                                <div class="tab-content">


                                        <!-- Tab Pane -->
                                        <div role="tabpanel" class="tab-pane fade in" id="tab-1">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                            <h5 class="mb-10">{{ 'form.personalDetails' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.marrigeStatus' | trans }}: {{ user.retail.marrigeStatus }}</li>

                                                <li>- {{ 'form.professionalQualification' | trans }}: {{ user.retail.qualifications }}</li>

                                                <li>- {{ 'form.workStatus' | trans }}: {{ user.retail.employmentStatus }}</li>

                                                <li>- {{ 'form.profession' | trans }}: {{ user.retail.profession }}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in" id="tab-2">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5 class="mb-10">{{ 'form.contactDetails' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.country' | trans }}: {{ user.retail.country }}</li>

                                                <li>- {{ 'form.city' | trans }}: {{ user.retail.city}}</li>

                                                <li>- {{ 'form.zip' | trans }}: {{ user.retail.zipCode}}</li>

                                                <li>- {{ 'form.address' | trans }}: {{ user.retail.address}}</li>

                                                <li>- {{ 'form.phone' | trans }}: {{ user.retail.phone }}</li>

                                                <li>- {{ 'form.mobilePhone' | trans }}: {{ user.retail.mobilePhone }}</li>

                                                <li>- {{ 'form.email' | trans }}: {{ user.retail.email }}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in" id="tab-3">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                            <h5>{{ 'form.houseInfo' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.householdMembers' | trans }}: {{ user.retail.householdMembers }}</li>

                                                <li>- {{ 'form.children' | trans }}: {{ user.retail.children}}</li>

                                                <li>- {{ 'form.partnerEmployment' | trans }}: {{ user.retail.partnerEmployment}}</li>

                                                <li>- {{ 'form.partnerQualifications' | trans }}: {{ user.retail.partnerQualifications }}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in" id="tab-4">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p>{{ user.firstName }} {{ user.lastName }}</p>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5>{{ 'form.financeInfo' | trans }}:</h5>

                                            <ul class="icon-list">

                                                <li>- {{ 'form.monthlyNeto' | trans }}: {{ user.retail.monthlyIncome}}</li>

                                                <li>- {{ 'form.otherIncome' | trans }}: {{ user.retail.otherIncome}}</li>

                                                <li>- {{ 'form.currentLoan' | trans }}: {{ user.retail.currentLoan}}</li>

                                                <li>- {{ 'form.loanApprovedAmount' | trans }}: {{ user.retail.loanApprovedAmount}}</li>

                                                <li>- {{ 'form.nominalInterestRate' | trans }}: {{ user.retail.nominalInterestRate}}</li>

                                                <li>- {{ 'form.repaymentPeriod' | trans }}: {{ user.retail.repaymentPeriod}}</li>

                                                <li>- {{ 'form.restToPay' | trans }}: {{ user.retail.restToPay}}</li>

                                                <li>- {{ 'form.otherLoans' | trans }}: {{ user.retail.otherLoans}}</li>

                                                <li>- {{ 'form.futureBankService' | trans }}: {{ user.retail.futureBankService}}</li>

                                                <li>- {{ 'form.interestBankService' | trans }}: {{ user.retail.interestBankService}}</li>

                                                <li>- {{ 'form.insurance' | trans }}: {{ user.retail.insurance}}</li>

                                                <li>- {{ 'form.insuranceType' | trans }}: {{ user.retail.insuranceType}}</li>

                                                <li>- {{ 'form.insuranceAnnualPremium' | trans }}: {{ user.retail.insuranceAnnualPremium}}</li>

                                                <li>- {{ 'form.otherInsurance' | trans }}: {{ user.retail.otherInsurance}}</li>

                                                <li>- {{ 'form.futureInsuranceService' | trans }}: {{ user.retail.futureInsuranceService}}</li>

                                                <li>- {{ 'form.interestInsurance' | trans }}: {{ user.retail.interestInsurance}}</li>

                                            </ul>

                                        </div>

                                        <div role="tabpanel" class="tab-pane fade in " id="tab-5">

                                            <h5 class="mb-10">{{ 'form.firstName' | trans }} {{ 'form.and' | trans }} {{ 'form.lastName' | trans }}:</h5>

                                            <p><img src="{{ asset(user.getImageVariationPath(150,150)) }}"> {{ user.firstName }} {{ user.lastName }} </p>


                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>


                                            <h5>{{ 'form.userImage' | trans }}:</h5>
0
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group image-upload">
                                                        <label> <img src="{{ user.getImageVariationPath(300,200) }}" id="upload-preview" style="position: absolute;" ></label>
                                                    </div>
                                                    </div>
                                            </div>
                                            <div class="row form-row">
                                                <div class="submit-wrapper col-xs-12 animatedBlock">
                                                    <img src="{{ user.getImageVariationPath(300,200) }}" id="upload-preview" style="position: absolute;" >
                                                    <div class="submit-wrap">
                                                        <input id="upload-image" type="button" value="Upload" class="btn btn-info btn-gfort btn-gfort-md mb-30"><i class="ajax-loader-custom fa fa-spinner fa-spin" aria-hidden="true" style="visibility: hidden;"></i>
                                                        <label> <input id="upload" value="Choose a file" about="images/*" type="file" style="display: none" ><a class="btn btn-info btn-gfort btn-gfort-md mb-30"> Browse</a></label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color"></div>

                                        </div>


                                        </div><!-- /End Tab Pane -->

                                    </div><!-- /End Tab Panes -->


                                </div><!-- /End gfort-tabs -->
                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


</div><!-- /End Page Body -->
{% endblock content %}