{% extends 'XbosCoreBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{%  block content %}


<div id="main-wrapper">


            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section grey-background-color">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Account Form Block -->
                                            <div class="form-block account-form-block">
                                                <!-- Form Block Container -->
                                                <div class="form-block-container">
                                                    <!-- Form -->
                                                    <form method="post" class="login" action="{{ path("fos_user_security_check") }}">


                                                        <!-- Form Block Title -->
                                                        <div class="col-md-12">
                                                            <div class="form-block-title text-center">
                                                                <h4>{{ 'form.greetings' | trans }}</h4>
                                                            </div>
                                                        </div><!-- /End Form Block Title -->


                                                        <!-- Username -->
                                                        <div class="col-md-12">
                                                            <div class="form-group">

                                                                <label for="account_form_name">{{ 'form.retail.email' | trans }}</label>
                                                                <a href="#" class="form-link">{{ 'form.remindMe' | trans }}</a>
                                                                <input type="text" class="form-control" name="_username" id="account_form_name">

                                                            </div>
                                                        </div><!-- /End Username -->


                                                        <!-- Password -->
                                                        <div class="col-md-12">
                                                            <div class="form-group">

                                                                <label for="account_form_password">{{ 'security.login.password' | trans }}</label>
                                                                <a href="{{ path('fos_user_resetting_request') }}" class="form-link">{{ 'form.recover' | trans }}</a>
                                                                <input type="password" class="form-control" name="_password" id="account_form_password">

                                                            </div>
                                                        </div><!-- /End Password -->


                                                        <!-- Submit Button -->
                                                        <div class="col-md-12">
                                                            <!-- Form Group -->
                                                            <div class="form-group">

                                                                <button type="submit" class="btn btn-gfort">{{ 'form.sign.in' | trans }}</button>

                                                            </div><!-- /End Form Group -->
                                                        </div><!-- /End Submit Button -->


                                                        <!-- Form Block Title -->
                                                        <div class="col-md-12">
                                                            <div class="form-block-title text-center">
                                                                <h4>{{ 'form.dontHaveAcc' | trans }}</h4>
                                                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-gfort">{{ 'form.sign.up' | trans }}</a>
                                                            </div>
                                                        </div><!-- /End Form Block Title -->


                                                    </form><!-- /End Form -->
                                                </div><!-- /End Form Block Container -->
                                            </div><!-- /End Account Form Block -->
                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->
</div>
{% endblock content %}

