{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}"  method="post" class="login" >
    <div class="col-md-12">
        <div class="form-group">


                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label for="username" class="stdLabel">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" class="form-control"  name="username" id="email" required="required"  placeholder="Email Address"/>
                <button type="submit" class="btn btn-gfort">{{ 'resetting.request.submit'|trans }}</button>

       </div>
    </div>

</form>
