{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}


    <div id="main-wrapper">


        <!-- Page Body
        ==================================================================== -->
        <div class="page-body">


            <!-- Main Content
            ================================================================ -->
            <div class="main-content">
                <!-- Main Content Container -->
                <div class="main-content-container">


                    <!-- gfort Section -->
                    <div class="gfort-section grey-background-color">
                        <!-- Section Container -->
                        <div class="section-container">
                            <!-- container -->
                            <div class="container">
                                <!-- row -->
                                <div class="row">


                                    <!-- col-md-12 -->
                                    <div class="col-md-12">
                                        <!-- Account Form Block -->
                                        <div class="form-block account-form-block">
                                            <!-- Form Block Container -->
                                            <div class="form-block-container">
                                                <!-- Form -->
                                                <form method="post" action="#">


                                                    <!-- Form Block Title -->
                                                    <div class="col-md-12">
                                                        <div class="form-block-title text-center">
                                                            <h4>{{ 'form.pwChangeRequest' | trans }}</h4>
                                                        </div>
                                                    </div><!-- /End Form Block Title -->


                                                    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}



                                                </form><!-- /End Form -->
                                            </div><!-- /End Form Block Container -->
                                        </div><!-- /End Account Form Block -->
                                    </div><!-- /End col-md-12 -->


                                </div><!-- /End row -->
                            </div><!-- /End container -->
                        </div><!-- /End Section Container -->
                    </div><!-- /End gfort Section -->


                </div><!-- /End Main Content Container -->
            </div><!-- /End Main Content -->


        </div><!-- /End Page Body -->
    </div>





{% endblock content %}