{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}



    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" enctype="multipart/form-data" method="POST" class="fos_user_resetting_reset userForm authForm" novalidate>
        {{ form_start(form) }}
        <div class="col-md-12">
            <div class="form-group">

            <div class="form-group {% if form.plainPassword.first.vars.errors|length %}withError{% endif %}">
                <label for="username" class="stdLabel">{{ 'form.newPw' | trans }}</label>
                <input type="password" style="visibility: collapse;">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'autocomplete' : 'off'} }) }}
            </div>
            <div class="form-group {% if form.plainPassword.second.vars.errors|length %}withError{% endif %}">
                <label for="username" class="stdLabel">{{ 'form.pwConfirm' | trans }}</label>
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'autocomplete' : 'off'} }) }}
            </div>
            <button type="submit" class="btn btn-gfort">{{ 'form.changePw' | trans }}</button>
        </div>
        </div>
        {{ form_end(form) }}
    </form>
