{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}


    <div class="main-content">
    <!-- Main Content Container -->
        <div class="main-content-container">


    <!-- gfort Section -->
            <div class="gfort-section">
    <!-- Section Container -->
                <div class="section-container">
    <!-- container -->
                    <div class="container">
    <!-- row -->        {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                        <div class="row">

                            <div class="col-md-12">
                                <div class="gfort-accordion">
                                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


                                        <!-- Panel 1 -->
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">{{ 'form.companyInformations' |trans }}</a>
                                                </h4>
                                            </div>

                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                            <!-- Form -->


                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {{ form_errors(form.company_name) }}
                                                                    {{ form_label(form.company_name) }}
                                                                    {{ form_widget(form.company_name, { attr: { 'class': 'form-control' }}) }}
                                                                </div>
                                                            </div>


                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    {{ form_errors(form.legal_form) }}
                                                                    {{ form_label(form.legal_form) }}
                                                                    {{ form_widget(form.legal_form, { attr: { 'class': 'form-control' }}) }}

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Email Address -->


                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.founded_date) }}
                                                                    {{ form_label(form.founded_date) }}
                                                                    {{ form_widget(form.founded_date, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.basic_capital) }}
                                                                    {{ form_label(form.basic_capital) }}
                                                                    {{ form_widget(form.basic_capital, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.date) }}
                                                                    {{ form_label(form.date) }}
                                                                    {{ form_widget(form.date, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.identification_number) }}
                                                                    {{ form_label(form.identification_number) }}
                                                                    {{ form_widget(form.identification_number, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.pib) }}
                                                                    {{ form_label(form.pib) }}
                                                                    {{ form_widget(form.pib, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject --><!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.number_of_employees) }}
                                                                    {{ form_label(form.number_of_employees) }}
                                                                    {{ form_widget(form.number_of_employees, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.yearly_income) }}
                                                                    {{ form_label(form.yearly_income) }}
                                                                    {{ form_widget(form.yearly_income, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading2">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed">{{ 'form.comapanyContactDetails' | trans }}</a>
                                                </h4>
                                            </div>

                                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                            <!-- Form -->
                                        <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.country) }}
                                                                    {{ form_label(form.country) }}
                                                                    {{ form_widget(form.country, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject --><!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.city) }}
                                                                    {{ form_label(form.city) }}
                                                                    {{ form_widget(form.city, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->

                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.zip_code) }}
                                                                    {{ form_label(form.zip_code) }}
                                                                    {{ form_widget(form.zip_code, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->


                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.address) }}
                                                                    {{ form_label(form.address) }}
                                                                    {{ form_widget(form.address, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.phone) }}
                                                                    {{ form_label(form.phone) }}
                                                                    {{ form_widget(form.phone, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.mobile_phone) }}
                                                                    {{ form_label(form.mobile_phone) }}
                                                                    {{ form_widget(form.mobile_phone, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.email) }}
                                                                    {{ form_label(form.email) }}
                                                                    {{ form_widget(form.email, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading3">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed">{{ 'form.comapanyContactDetails' | trans }}</a>
                                                </h4>
                                            </div>

                                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                            <!-- Form -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_name) }}
                                                                    {{ form_label(form.owner_name) }}
                                                                    {{ form_widget(form.owner_name, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_last_name) }}
                                                                    {{ form_label(form.owner_last_name) }}
                                                                    {{ form_widget(form.owner_last_name, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.title) }}
                                                                    {{ form_label(form.title) }}
                                                                    {{ form_widget(form.title, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.date_of_birth) }}
                                                                    {{ form_label(form.date_of_birth) }}
                                                                    {{ form_widget(form.date_of_birth, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.capital) }}
                                                                    {{ form_label(form.capital) }}
                                                                    {{ form_widget(form.capital, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_country) }}
                                                                    {{ form_label(form.owner_country) }}
                                                                    {{ form_widget(form.owner_country, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_city) }}
                                                                    {{ form_label(form.owner_city) }}
                                                                    {{ form_widget(form.owner_city, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_zip_code) }}
                                                                    {{ form_label(form.owner_zip_code) }}
                                                                    {{ form_widget(form.owner_zip_code, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_address) }}
                                                                    {{ form_label(form.owner_address) }}
                                                                    {{ form_widget(form.owner_address, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_phone) }}
                                                                    {{ form_label(form.owner_phone) }}
                                                                    {{ form_widget(form.owner_phone, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_mobile_phone) }}
                                                                    {{ form_label(form.owner_mobile_phone) }}
                                                                    {{ form_widget(form.owner_mobile_phone, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.owner_email) }}
                                                                    {{ form_label(form.owner_email) }}
                                                                    {{ form_widget(form.owner_email, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->
                                                            <!-- Subject -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                                        <!-- Submit Button -->
                                                        <div class="col-md-12">
                                                            <!-- Form Group -->
                                                            <div class="form-group">

                                                                <button type="submit" class="btn btn-gfort">{{ 'form.applyNow' | trans }}</button>

                                                            </div><!-- /End Form Group -->
                                                        </div><!-- /End Submit Button -->



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    {{ form_end(form) }}
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}