{% extends 'XbosCoreBundle::layout.html.twig' %}
{% block content %}

    <div class="main-content">
    <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                        <div class="col-md-12">
                            <div class="gfort-accordion">
                                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

                                    {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                                    <!-- Panel 1 -->
                                                        <div class="panel panel-default">

                                                            <div class="panel-heading" role="tab" id="heading1">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">{{ 'form.personalDetails' | trans}}</a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <div class="form-block contact-form-block">
                                                                        <!-- Form Block Container -->
                                                                        <div class="form-block-container">
                                                                            <!-- Form -->


                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    {{ form_errors(form.marrige_status) }}
                                                                                    {{ form_label(form.marrige_status) }} *
                                                                                    {{ form_widget(form.marrige_status, { attr: { 'class': 'form-control' }}) }}
                                                                                </div>
                                                                            </div>


                                                                            <!-- Email Address -->
                                                                            <div class="col-md-4">
                                                                                <!-- Form Group -->
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.qualifications) }}
                                                                                    {{ form_label(form.qualifications) }} *
                                                                                    {{ form_widget(form.qualifications, { attr: { 'class': 'form-control' }}) }}

                                                                                </div><!-- /End Form Group -->
                                                                            </div><!-- /End Email Address -->


                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.employment_status) }}
                                                                                    {{ form_label(form.employment_status) }}
                                                                                    {{ form_widget(form.employment_status, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.profession) }}
                                                                                    {{ form_label(form.profession) }}
                                                                                    {{ form_widget(form.profession, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">

                                                            <div class="panel-heading" role="tab" id="heading2">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed">{{ 'form.contactDetails' | trans}}</a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <div class="form-block contact-form-block">
                                                                        <!-- Form Block Container -->
                                                                        <div class="form-block-container">
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.country) }}
                                                                                    {{ form_label(form.country) }}
                                                                                    {{ form_widget(form.country, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.city) }}
                                                                                    {{ form_label(form.city) }}
                                                                                    {{ form_widget(form.city, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.zip_code) }}
                                                                                    {{ form_label(form.zip_code) }}
                                                                                    {{ form_widget(form.zip_code, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject --><!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.address) }}
                                                                                    {{ form_label(form.address) }}
                                                                                    {{ form_widget(form.address, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.phone) }}
                                                                                    {{ form_label(form.phone) }}
                                                                                    {{ form_widget(form.phone, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.mobile_phone) }}
                                                                                    {{ form_label(form.mobile_phone) }}
                                                                                    {{ form_widget(form.mobile_phone, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject --><!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.email) }}
                                                                                    {{ form_label(form.email) }}
                                                                                    {{ form_widget(form.email, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">

                                                            <div class="panel-heading" role="tab" id="heading3">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed">{{ 'form.houseInfo' | trans}}</a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <div class="form-block contact-form-block">
                                                                        <!-- Form Block Container -->
                                                                        <div class="form-block-container">

                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.household_members) }}
                                                                                    {{ form_label(form.household_members) }}
                                                                                    {{ form_widget(form.household_members, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->


                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.children) }}
                                                                                    {{ form_label(form.children) }}
                                                                                    {{ form_widget(form.children, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.partner_qualifications) }}
                                                                                    {{ form_label(form.partner_qualifications) }}
                                                                                    {{ form_widget(form.partner_qualifications, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.partner_employment) }}
                                                                                    {{ form_label(form.partner_employment) }}
                                                                                    {{ form_widget(form.partner_employment, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">

                                                            <div class="panel-heading" role="tab" id="heading4">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed">{{ 'form.financeInfo' | trans}}</a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <div class="form-block contact-form-block">
                                                                        <!-- Form Block Container -->
                                                                        <div class="form-block-container">
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.monthly_income) }}
                                                                                    {{ form_label(form.monthly_income) }}
                                                                                    {{ form_widget(form.monthly_income, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.other_income) }}
                                                                                    {{ form_label(form.other_income) }}
                                                                                    {{ form_widget(form.other_income, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.current_loan) }}
                                                                                    {{ form_label(form.current_loan) }}
                                                                                    {{ form_widget(form.current_loan, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.loan_approved_amount) }}
                                                                                    {{ form_label(form.loan_approved_amount) }}
                                                                                    {{ form_widget(form.loan_approved_amount, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.nominal_interest_rate) }}
                                                                                    {{ form_label(form.nominal_interest_rate) }}
                                                                                    {{ form_widget(form.nominal_interest_rate, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.repayment_period) }}
                                                                                    {{ form_label(form.repayment_period) }}
                                                                                    {{ form_widget(form.repayment_period, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.rest_to_pay) }}
                                                                                    {{ form_label(form.rest_to_pay) }}
                                                                                    {{ form_widget(form.rest_to_pay, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.other_loans) }}
                                                                                    {{ form_label(form.other_loans) }}
                                                                                    {{ form_widget(form.other_loans, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.future_bank_service) }}
                                                                                    {{ form_label(form.future_bank_service) }}
                                                                                    {{ form_widget(form.future_bank_service, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.interest_bank_service) }}
                                                                                    {{ form_label(form.interest_bank_service) }}
                                                                                    {{ form_widget(form.interest_bank_service, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.insurance) }}
                                                                                    {{ form_label(form.insurance) }}
                                                                                    {{ form_widget(form.insurance, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.insurance_type) }}
                                                                                    {{ form_label(form.insurance_type) }}
                                                                                    {{ form_widget(form.insurance_type, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.insurance_annual_premium) }}
                                                                                    {{ form_label(form.insurance_annual_premium) }}
                                                                                    {{ form_widget(form.insurance_annual_premium, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject -->
                                                                            <!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.other_insurance) }}
                                                                                    {{ form_label(form.other_insurance) }}
                                                                                    {{ form_widget(form.other_insurance, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject --><!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.future_insurance_service) }}
                                                                                    {{ form_label(form.future_insurance_service) }}
                                                                                    {{ form_widget(form.future_insurance_service, { attr: { 'class': '' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject --><!-- Subject -->
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">

                                                                                    {{ form_errors(form.interest_insurance) }}
                                                                                    {{ form_label(form.interest_insurance) }}
                                                                                    {{ form_widget(form.interest_insurance, { attr: { 'class': 'form-control' }}) }}


                                                                                </div>
                                                                            </div><!-- /End Subject --><!-- Subject -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Submit Button -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                        <button type="submit" class="btn btn-gfort">{{ 'form.applyNow' | trans}}</button>

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Submit Button -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock content %}