{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}




<!-- Page Body (Right Sidebar)
==================================================================== -->


    <!-- Page Body (Right Sidebar)
    ==================================================================== -->
    <div class="page-body">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">


                                <!-- Shop Section -->
                                <div class="shop-section">


                                    <!-- Shop items Wrapper -->
                                    <div class="shop-items-wrapper shop-col-3">


                                    <!-- Shop items info -->



                                    <!-- Shop items Wrapper -->
                                    <div class="shop-items-wrapper shop-col-3">
                                        <ul class="products">


                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page', {metaProductId : 2}) }}" title="{{ 'form.bankAcc' | trans }}" class="scale-hover">
                                                            <img src="{{ asset('bundles/xboscore/images/misc/023.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Handcrafted Watch">{{ 'form.bankAcc' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->





                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->


                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page', {metaProductId : 1}) }}" title="{{ 'form.cashCredit' | trans }}" class="scale-hover">
                                                            <img src="{{ asset('bundles/xboscore/images/index/lawyer/003.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Stapler and Staples">{{ 'form.cashCredit' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->



                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->


                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page',{metaProductId : 3}) }}" title="{{ 'form.carCredit' | trans }}" class="scale-hover">

                                                            <img src="{{ asset('bundles/xboscore/images/index/car-rental/CAAAR.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Papoi Toy">{{ 'form.carCredit' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->



                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->


                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page',{metaProductId : 4}) }}" title="{{ 'form.creditCards' | trans }}" class="scale-hover">
                                                            <img src="{{ asset('bundles/xboscore/images/index/lawyer/005.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Wood Box">{{ 'form.creditCards' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->




                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->


                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page',{metaProductId : 5}) }}" title="{{ 'form.housingCredit' | trans }}" class="scale-hover">
                                                            <img src="{{ asset('bundles/xboscore/images/index/real-estate/006.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Eraser with wood plate">{{ 'form.housingCredit' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->





                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->
                                            <!-- Shop item -->
                                            <li class="shop-item">
                                                <!-- Shop item Container -->
                                                <div class="shop-item-container">


                                                    <!-- Shop item Media -->
                                                    <div class="shop-item-media">
                                                        <a href="{{ path('Xbos_core_meta_search_page',{metaProductId : 6}) }}" title="{{ 'form.savings' | trans }}" class="scale-hover">
                                                            <img src="{{ asset('bundles/xboscore/images/misc/027.jpg') }}" alt="Article Image" />
                                                        </a>
                                                    </div><!-- /End Shop item Media -->


                                                    <!-- Shop item Body -->
                                                    <div class="shop-item-body">


                                                        <!-- Shop item Title -->
                                                        <h2 class="shop-item-title">
                                                            <a href="#" title="Eraser with wood plate">{{ 'form.savings' | trans }}</a>
                                                        </h2><!-- /End Shop item Title -->





                                                    </div><!-- /End Shop item Body -->


                                                </div><!-- /End Shop item Container -->
                                            </li><!-- /End Shop item -->



                                            <!-- Shop item -->



                                        </ul>
                                    </div><!-- /End Shop items Wrapper -->


                                </div><!-- /End Shop Section -->





                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


{% endblock content %}