{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}


    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">

                                <!-- col-md-8 -->
                                <div class="col-md-8">
                                    <!-- Contact Form Block -->
                                    <div class="form-block contact-form-block">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}

                                            <!-- Name -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.name) }}
                                                    {{ form_label(form.name) }}
                                                    {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                                </div>
                                            </div><!-- /End Name -->

                                            <!-- Email Address -->
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    {{ form_errors(form.description) }}
                                                    {{ form_label(form.description) }}
                                                    {{ form_widget(form.description, { attr: { 'class': 'form-control' }}) }}

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Email Address -->


                                            <!-- Subject -->
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    {{ form_errors(form.type) }}
                                                    {{ form_label(form.type) }}
                                                    {{ form_widget(form.type, { attr: { 'class': 'form-control' }}) }}


                                                </div>
                                            </div><!-- /End Subject -->

                                            <!-- Submit Button -->
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveProperty' | trans }}</button>

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Submit Button -->


                                            {{ form_end(form) }}
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Contact Form Block -->
                                </div><!-- /End col-md-8 -->
                                <!-- col-md-4 -->
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
{% endblock content %}