{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}


    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">

                                <!-- col-md-8 -->
                                <div class="col-md-8">
                                    <!-- Contact Form Block -->
                                    <div class="form-block contact-form-block">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}


                                            <!-- Name -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_errors(form.name) }}
                                                    {{ form_label(form.name) }}
                                                    {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                                </div>
                                            </div><!-- /End Name -->


                                            <!-- Email Address -->
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    {{ form_errors(form.description) }}
                                                    {{ form_label(form.description) }}
                                                    {{ form_widget(form.description, { attr: { 'class': 'form-control' }}) }}

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Email Address -->


                                            <!-- Subject -->
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    {{ form_errors(form.product_type) }}
                                                    {{ form_label(form.product_type) }}
                                                    {{ form_widget(form.product_type, { attr: { 'class': 'form-control' }}) }}


                                                </div>
                                            </div><!-- /End Subject -->


                                            <!-- Submit Button -->
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveProduct' | trans }}</button>

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Submit Button -->


                                            {{ form_end(form) }}
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Contact Form Block -->
                                </div><!-- /End col-md-8 -->
                                <!-- col-md-4 -->
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Google Map Block -->
                                    <div class="google-map-block google-map-block-collapsed mb-0" data-zoom="16" data-lat="48.8628277" data-lng="2.3523733" data-api-key="AIzaSyBDGULVau4J4Chpc4DmyfwKoz3XRUwsEOQ" style="background-image: url(images/parallax-images/world-map.png);">

                                        <!-- Google Map Marker -->
                                        <div class="google-map-marker" data-marker-image="images/google-map/marker.png" data-marker-lat="48.8628277" data-marker-lng="2.3523733">

                                            <img src="images/google-map/001.jpg" alt="Office">
                                            <h4>Main office</h4>
                                            <p>6 rue Saint-Martin, 12345 Paris, France</p>

                                        </div><!-- /End Google Map Marker -->

                                    </div><!-- /End Google Map Block -->
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
{% endblock content %}