{% extends 'XbosCoreBundle::layout.html.twig' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}
{% block content %}

    {% for metaValue in metaValues %}
        <div class="modal fade" id="modal-{{ metaValue.id }}" tabindex="-1" role="dialog" style="display: none;">
            <!-- Modal Dialog -->
            <div class="modal-dialog" role="document">
                <!-- Modal Content -->
                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ 'form.confirmDelete' | trans }}</h4>
                    </div><!-- /End Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                            <!-- Contact Form Block -->
                            <div class="form-block contact-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <p>{{ 'form.confirmDelete1' | trans }}</p>
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Contact Form Block -->
                        </div><!-- /End col-md-12 -->
                    </div><!-- /End Modal Body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm mb-30" data-dismiss="modal">{{ 'form.close' | trans }}</button>
                        <a href="{{ path('Xbos_core_meta_value_delete', { metaValueId: metaValue.id, page: page }) }}" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteValue' | trans }}</a>
                    </div>

                </div><!-- /End Modal Content -->
            </div><!-- /End Modal Dialog -->
        </div>
    {% endfor %}


    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <a href="{{ path('Xbos_core_meta_property_add', { metaProductId : metaProperty.metaProduct.id}) }}" class="btn btn-primary mb-30">{{ 'form.back2property' | trans }}</a>
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.valueOptions' | trans }}</th>

                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% set i = 1 %}
                                        {% set page = page > 0 ? page : 1 %}

                                        {% for metaValue in metaValues %}
                                            <tr>
                                                <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                <td>{{ metaValue.name }}</td>
                                                <td>

                                                    <a href="{{ path('Xbos_core_meta_value_edit',{metaPropertyId: metaProperty.id, metaProductId: metaProperty.metaProduct.Id , metaValueId : metaValue.id}) }}" class="btn btn-primary btn-sm mb-30">{{ 'form.editValue' | trans }}</a>
                                                    <a href="#modal-{{ metaValue.id }}" title="Launch modal" data-target="#modal-{{ metaValue.id }}" data-toggle="modal" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteValue' | trans }}</a>

                                                </td>

                                            </tr>

                                            {% set i = i + 1 %}
                                        {%  endfor %}

                                        </tbody>

                                    </table>
                                    <div class="gfort-navigation-block">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                {{ pagination|raw }}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div><!-- /End col-md-12 -->

                            {% if total == 2 %}

                            {% else %}
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <div class="gfort-accordion">
                                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


                                        <!-- Panel 1 -->
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">{{ 'form.valueAdd' | trans }}</a>
                                                </h4>
                                            </div>

                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                        <!-- Form -->
                                                                {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}

                                                                {% if metaProperty.type == 3 or metaProperty.type == 4 %}

                                                                    <!-- Email Address -->
                                                                    <div class="col-md-4">
                                                                        <!-- Form Group -->
                                                                        <div class="form-group">

                                                                            {{ form_errors(form.min_int) }}
                                                                            {{ form_label(form.min_int) }}
                                                                            {{ form_widget(form.min_int, { attr: { 'class': 'form-control' }}) }}

                                                                        </div><!-- /End Form Group -->
                                                                    </div><!-- /End Email Address -->

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.default_int_min) }}
                                                                            {{ form_label(form.default_int_min) }}
                                                                            {{ form_widget(form.default_int_min, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->


                                                                {% endif %}

                                                                {% if metaProperty.type == 4 %}

                                                                    <!-- Name -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.max_int) }}
                                                                            {{ form_label(form.max_int) }}
                                                                            {{ form_widget(form.max_int, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name --><!-- Name -->
                                                                                                                                              <!-- Name -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.default_int_max) }}
                                                                            {{ form_label(form.default_int_max) }}
                                                                            {{ form_widget(form.default_int_max, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->

                                                                {% endif %}

                                                                {% if metaProperty.type == 5 or metaProperty.type == 6 %}

                                                                    <!-- Subject -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.min_double) }}
                                                                            {{ form_label(form.min_double) }}
                                                                            {{ form_widget(form.min_double, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Subject -->
                                                                          <!-- Name -->
                                                                                                                                              <!-- Name -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.default_double_min) }}
                                                                            {{ form_label(form.default_double_min) }}
                                                                            {{ form_widget(form.default_double_min, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->
                                                                                                                                                                                                                                                                                                                                                                                                                                          <!-- Name -->

                                                                {% endif %}

                                                                {% if metaProperty.type == 6 %}

                                                                    <!-- Name -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.max_double) }}
                                                                            {{ form_label(form.max_double) }}
                                                                            {{ form_widget(form.max_double, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.default_double_max) }}
                                                                            {{ form_label(form.default_double_max) }}
                                                                            {{ form_widget(form.default_double_max, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->

                                                                {% endif %}

                                                                {% if metaProperty.type == 1 %}

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="checkbox">
                                                                                {{ form_errors(form.default_boolean) }}
                                                                                {{ form_label(form.default_boolean) }}
                                                                                {{ form_widget(form.default_boolean, { attr: {  'class' : 'form-control' }}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- /End Name -->

                                                                {% endif %}

                                                                {% if metaProperty.type == 2 %}

                                                                    <!-- Name -->
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            {{ form_errors(form.default_string) }}
                                                                            {{ form_label(form.default_string) }}
                                                                            {{ form_widget(form.default_string, { attr: { 'class': 'form-control' }}) }}
                                                                        </div>
                                                                    </div><!-- /End Name -->

                                                                {% endif %}



                                                        <!-- Submit Button -->
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="checkbox">
                                                                                    {{ form_errors(form.nullable) }}
                                                                                    {{ form_label(form.nullable) }}
                                                                                    {{ form_widget(form.nullable) }}
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- /End Name -->
                                                                        <!-- Name -->

                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <!-- Form Group -->
                                                                        <div class="form-group">

                                                                            <button type="submit" class="btn btn-gfort">{{ 'form.valueAdd' | trans }}</button>

                                                                        </div><!-- /End Form Group -->
                                                                    </div><!-- /End Submit Button -->



                                                {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock content %}