{% extends 'XbosCoreBundle::layout.html.twig' %}

{% form_theme form 'XbosCoreBundle::form_fields.html.twig' %}
{% block content %}

    {% for metaProduct in metaProducts %}

        <div class="modal fade" id="modal-{{ metaProduct.id }}" tabindex="-1" role="dialog" style="display: none;">
            <!-- Modal Dialog -->
            <div class="modal-dialog" role="document">
                <!-- Modal Content -->
                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ 'form.confirmDelete' | trans }}</h4>
                    </div><!-- /End Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                            <!-- Contact Form Block -->
                            <div class="form-block contact-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <p>{{ 'form.confirmDelete1' | trans }}</p>
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Contact Form Block -->
                        </div><!-- /End col-md-12 -->
                    </div><!-- /End Modal Body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm mb-30" data-dismiss="modal">{{ 'form.close' | trans }}</button>
                        <a href="{{ path('Xbos_core_meta_product_delete', { metaProductId: metaProduct.id, page: page }) }}" class="btn btn-danger btn-sm mb-30">Delete Product</a>
                    </div>

                </div><!-- /End Modal Content -->
            </div><!-- /End Modal Dialog -->
        </div>

    {% endfor %}

    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Section Title -->
                                <div class="section-title section-title-sm">
                                    <h2 class="section-main-title">{{ 'form.productAdd' | trans }}</h2>
                                </div><!-- /End Section Title -->
                            </div><!-- /End col-md-12 -->

                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.description' | trans }}</th>
                                            <th>{{ 'form.type' | trans }}</th>
                                            <th align="center">{{ 'form.valueOptions' | trans }}</th>
                                            <th>{{ 'form.propertyOptions' | trans }}</th>
                                            <th> {{ 'form.searchByMetaProduct'| trans }} </th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% set i = 1 %}
                                        {% set page = page > 0 ? page : 1 %}

                                        {% for metaProduct in metaProducts %}
                                            <tr>
                                                <th scope="row">{{ (page - 1) * perPage + i }}</th>
                                                <td>{{ metaProduct.name }}</td>
                                                <td>{{ metaProduct.description }}</td>
                                                <td>{{ metaProduct.productType.name }}</td>

                                                <td>

                                                    <a href="{{ path('Xbos_core_meta_product_edit', { metaProductId: metaProduct.id,  page: page }) }}" class="btn btn-primary btn-sm mb-30">{{ 'form.editProduct' | trans }}</a>
                                                    <a href="#modal-{{ metaProduct.id }}" title="Launch modal" data-target="#modal-{{ metaProduct.id }}" data-toggle="modal" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteProduct' | trans }}</a>

                                                </td>
                                                <td>
                                                    <a href="{{ path('Xbos_core_meta_property_add', { metaProductId: metaProduct.id, page: 1}) }}" class="btn btn-success btn-sm mb-30 ">{{ 'form.viewDetails' | trans }}</a>

                                                </td>
                                                <td>
                                                    <a href="{{ path('Xbos_core_meta_search_page', { metaProductId: metaProduct.id, page: 1}) }}" class="btn btn-success btn-sm mb-30 ">{{ 'form.searchByMetaProduct'| trans }}</a>

                                                </td>
                                            </tr>

                                            {% set i = i + 1 %}
                                        {%  endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div><!-- /End col-md-12 -->
                            <div class="gfort-navigation-block">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {{ pagination|raw }}
                                    </ul>
                                </nav>
                            </div>
                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <div class="gfort-accordion">
                                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


                                        <!-- Panel 1 -->
                                        <div class="panel panel-default">

                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">{{ 'form.productAdd' | trans }}</a>
                                                </h4>
                                            </div>

                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    <div class="form-block contact-form-block">
                                                        <!-- Form Block Container -->
                                                        <div class="form-block-container">
                                                        <!-- Form -->
                                                        {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}


                                                            <!-- Name -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {{ form_errors(form.name) }}
                                                                    {{ form_label(form.name) }}
                                                                    {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                                                </div>
                                                            </div><!-- /End Name -->


                                                            <!-- Email Address -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    {{ form_errors(form.description) }}
                                                                    {{ form_label(form.description) }}
                                                                    {{ form_widget(form.description, { attr: { 'class': 'form-control' }}) }}

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Email Address -->


                                                            <!-- Subject -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">

                                                                    {{ form_errors(form.product_type) }}
                                                                    {{ form_label(form.product_type) }}
                                                                    {{ form_widget(form.product_type, { attr: { 'class': 'form-control' }}) }}


                                                                </div>
                                                            </div><!-- /End Subject -->


                                                            <!-- Submit Button -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">

                                                                    <button type="submit" class="btn btn-gfort">{{ 'form.saveProduct' | trans }}</button>

                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Submit Button -->


                                                        {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}