{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}


    <div class="page-body">

        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">
                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">

                                <!-- col-md-8 -->
                                <div class="col-md-8">
                                    <!-- Contact Form Block -->
                                    <div class="form-block contact-form-block">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}

                                            {% if metaProperty.type == 3 or metaProperty.type == 4 %}

                                                <!-- Email Address -->
                                                <div class="col-md-4">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                        {{ form_errors(form.min_int) }}
                                                        {{ form_label(form.min_int) }}
                                                        {{ form_widget(form.min_int, { attr: { 'class': 'form-control' }}) }}

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Email Address -->

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.default_int_min) }}
                                                        {{ form_label(form.default_int_min) }}
                                                        {{ form_widget(form.default_int_min, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->


                                            {% endif %}

                                            {% if metaProperty.type == 4 %}

                                                <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.max_int) }}
                                                        {{ form_label(form.max_int) }}
                                                        {{ form_widget(form.max_int, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name --><!-- Name -->
                                                      <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.default_int_max) }}
                                                        {{ form_label(form.default_int_max) }}
                                                        {{ form_widget(form.default_int_max, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->

                                            {% endif %}

                                            {% if metaProperty.type == 5 or metaProperty.type == 6 %}

                                                <!-- Subject -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.min_double) }}
                                                        {{ form_label(form.min_double) }}
                                                        {{ form_widget(form.min_double, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Subject -->
                                                      <!-- Name -->
                                                      <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.default_double_min) }}
                                                        {{ form_label(form.default_double_min) }}
                                                        {{ form_widget(form.default_double_min, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->
                                                <!-- Name -->

                                            {% endif %}

                                            {% if metaProperty.type == 6 %}

                                                <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.max_double) }}
                                                        {{ form_label(form.max_double) }}
                                                        {{ form_widget(form.max_double, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.default_double_max) }}
                                                        {{ form_label(form.default_double_max) }}
                                                        {{ form_widget(form.default_double_max, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->

                                            {% endif %}

                                            {% if metaProperty.type == 1 %}

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            {{ form_errors(form.default_boolean) }}
                                                            {{ form_label(form.default_boolean) }}
                                                            {{ form_widget(form.default_boolean, { attr: {  'class' : 'form-control' }}) }}
                                                        </div>
                                                    </div>
                                                </div><!-- /End Name -->

                                            {% endif %}

                                            {% if metaProperty.type == 2 %}

                                                <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.default_string) }}
                                                        {{ form_label(form.default_string) }}
                                                        {{ form_widget(form.default_string, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                </div><!-- /End Name -->

                                            {% endif %}



                                            <!-- Submit Button -->
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            {{ form_errors(form.nullable) }}
                                                            {{ form_label(form.nullable) }}
                                                            {{ form_widget(form.nullable) }}
                                                        </div>
                                                    </div>
                                                </div><!-- /End Name -->
                                                <!-- Name -->

                                            </div>
                                            <div class="col-md-12">
                                                <!-- Form Group -->
                                                <div class="form-group">

                                                    <button type="submit" class="btn btn-gfort">{{ 'form.valueAdd' | trans }}</button>

                                                </div><!-- /End Form Group -->
                                            </div><!-- /End Submit Button -->



                                            {{ form_end(form) }}
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Contact Form Block -->
                                </div><!-- /End col-md-8 -->
                                <!-- col-md-4 -->
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
{% endblock content %}