
{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}

    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                            <!-- col-md-8 -->
                            <div class="col-md-8">
                                <!-- Contact Form Block -->
                                <div class="form-block contact-form-block">
                                    <!-- Form Block Container -->
                                    {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                                    <div class="form-block-container">
                                        <!-- Form -->
                                        <!-- Name -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_errors(form.name) }}
                                                {{ form_label(form.name) }}
                                                {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-block-container">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <button type="submit" style="margin-top: 5px " class="btn btn-gfort">{{ 'form.saveBlogArticle' | trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div><!-- /End Contact Form Block -->
                            </div><!-- /End col-md-8 -->
                            <!-- col-md-4 -->
                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->
        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->



{% endblock content %}



