{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}

    {% for bank in bankList %}

        <div class="modal fade" id="modal-{{ bank.id }}" tabindex="-1" role="dialog" style="display: none;">
            <!-- Modal Dialog -->
            <div class="modal-dialog" role="document">
                <!-- Modal Content -->
                <div class="modal-content">


                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{{ 'form.confirmDelete' | trans }}</h4>
                    </div><!-- /End Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                            <!-- Contact Form Block -->
                            <div class="form-block contact-form-block">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <p>{{ 'form.confirmDelete1' | trans }}</p>
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Contact Form Block -->
                        </div><!-- /End col-md-12 -->
                    </div><!-- /End Modal Body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm mb-30" data-dismiss="modal">{{ 'form.close' | trans }}</button>
                        <a href="{{ path('Xbos_core_bank_delete', { bankId: bank.id }) }}" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteProduct' | trans }}</a>
                    </div>

                </div><!-- /End Modal Content -->
            </div><!-- /End Modal Dialog -->
        </div>

    {% endfor %}



    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <a href={{ path('Xbos_core_bank_add') }}><i class="fa fa-plus">Add new Bank</i> </a>
                                <div class="table-responsive">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'form.name' | trans }}</th>
                                            <th>{{ 'form.logo' | trans }}</th>
                                            <th>Opcije</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for bank in bankList %}
                                            <tr>
                                                <th scope="row">{{ bank.id }}</th>
                                                <td>{{ bank.name }}</td>
                                                <td> <img src="{{ asset(bank.getLogoVariationPath(200,100)) }}"></td>
                                                <td>
                                                    <a href="{{ path('Xbos_core_bank_edit' , {bankId: bank.id})  }}"  class="btn btn-primary btn-sm mb-30">{{ 'form.editProduct' | trans }}</a>
                                                    <a href="#modal-{{ bank.id }}" title="Launch modal" data-target="#modal-{{ bank.id }}" data-toggle="modal" class="btn btn-danger btn-sm mb-30">{{ 'form.deleteProduct' | trans }}</a>
                                                </td>

                                            </tr>
                                        {% endfor%}


                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <!-- col-md-12 -->
                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->
        </div>
    </div>
{% endblock content %}