{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">

                                <!-- col-md-8 -->
                                <div class="col-md-8">
                                    <!-- Contact Form Block -->
                                    <div class="form-block contact-form-block">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            {{ form_start(uploadForm, {attr: { 'novalidate': 'novalidate'} }) }}

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="{{ asset(bank.getLogoVariationPath(300,200)) }}">
                                                </div>
                                            </div>
                                            <div class="form-group image-upload">
                                                {{ form_widget(uploadForm.logo, { attr: { 'class': 'input-file' }}) }}
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary">Upload submit</button>
                                            </div>
                                            {{ form_end(uploadForm) }}
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Contact Form Block -->
                                </div><!-- /End col-md-8 -->
                                <!-- col-md-4 -->
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->



{% endblock content %}