{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}
<style>

</style>
<!-- Main Wrapper
======================================================================== -->
<div id="main-wrapper">

    <!-- Page Body
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">
                 <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->

                                </div><!-- /End col-md-12 -->

                                    <div class="gfort-section fullwidth-section pt-0 pb-0">
                                        <!-- Section Container -->
                                        <div class="section-container">
                                            <!-- container -->
                                            <div class="container">
                                                <!-- row -->
                                                <div class="row">


                                                    <!-- col-md-3 -->
                                                    <div class="col-md-6 col-sm-6" style="padding: 0; padding-right: 2px;">
                                                        <!-- Image Block -->
                                                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                                            <!-- gfort Block Container -->
                                                            <div class="gfort-block-container">


                                                                <!-- gfort Block Head -->
                                                                <div class="gfort-block-head">
                                                                    <a href="{{ path ('Xbos_core_credit_start_page')  }}" class="scale-hover">
                                                                        <img src="{{ asset('bundles/xboscore/images/misc/028.jpg') }}" alt="Image" />
                                                                    </a>
                                                                </div><!-- /End gfort Block Head -->


                                                                <!-- gfort Block Body -->
                                                                <div class="gfort-block-body" style="background-color: transparent;" >


                                                                    <!-- gfort Block Title -->
                                                                    <div class="gfort-block-title">
                                                                        <h4 style="font-size: 25px">{{ 'form.credits' | trans }}</h4>
                                                                    </div><!-- /End gfort Block Title -->


                                                                </div><!-- /End gfort Block Body -->


                                                            </div><!-- /End gfort Block Container -->
                                                        </div><!-- /End Image Block -->
                                                    </div><!-- /End col-md-3 -->



                                                    <!-- col-md-3 -->
                                                    <div class="col-md-6 col-sm-6" style="padding: 0; padding-left: 2px;">
                                                        <!-- Image Block -->
                                                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                                            <!-- gfort Block Container -->
                                                            <div class="gfort-block-container" >

                                                                <!-- gfort Block Head -->
                                                                <div class="gfort-block-head"  >
                                                                    <a href="{{ path ('Xbos_core_insurance_start_page')  }}"  class="scale-hover">
                                                                        <img  src="{{ asset('bundles/xboscore/images/misc/027.jpg') }}" alt="Image" />
                                                                    </a>
                                                                </div><!-- /End gfort Block Head -->

                                                                <!-- gfort Block Body -->
                                                                <div class="gfort-block-body" style="background-color: transparent" >

                                                                    <!-- gfort Block Title -->
                                                                    <div class="gfort-block-title "  >
                                                                        <h4 style="font-size: 25px;">{{ 'form.index.insurance' | trans }}</h4>
                                                                    </div><!-- /End gfort Block Title -->


                                                                </div><!-- /End gfort Block Body -->


                                                            </div><!-- /End gfort Block Container -->
                                                        </div><!-- /End Image Block -->
                                                    </div><!-- /End col-md-3 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                <!-- col-md-4 -->
                                <div class="col-md-12">
                                <div class="gfort-section">
                                    <!-- Section Container -->
                                    <div class="section-container">
                                        <!-- container -->
                                        <div class="container">
                                            <!-- row -->
                                            <div class="row">


                                                <!-- col-md-4 -->
                                                <div class="col-md-4">
                                                    <!-- Icon Block -->
                                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-7">
                                                        <!-- gfort Block Container -->
                                                        <div class="gfort-block-container">


                                                            <!-- gfort Block Head -->
                                                            <div class="gfort-block-head">
                                                                <i class="fa fa-bar-chart"></i>
                                                                <i class="fa fa-bar-chart"></i>
                                                            </div><!-- /End gfort Block Head -->


                                                            <!-- gfort Block Body -->
                                                            <div class="gfort-block-body">


                                                                <!-- gfort Block Title -->
                                                                <div class="gfort-block-title">
                                                                    <h4>{{ 'form.index.financial' |trans }}</h4>
                                                                </div><!-- /End gfort Block Title -->


                                                                <!-- gfort Block Content -->
                                                                <div class="gfort-block-content">

                                                                    <p>Donec pulvinar quam dolor, vitae semper ligula pretium eu. Phasellus vitae turpis vel nisi vehicula pharetra.</p>

                                                                    <!-- gfort Block Link -->
                                                                    <div class="gfort-block-link">
                                                                        <a href="{{ path('Xbos_core_advice') }}">{{ 'form.index.more' |trans }}<i class="fa fa-long-arrow-right"></i></a>
                                                                    </div><!-- /End gfort Block Link -->

                                                                </div><!-- /End gfort Block Content -->


                                                            </div><!-- /End gfort Block Body -->


                                                        </div><!-- /End gfort Block Container -->
                                                    </div><!-- /End Icon Block -->
                                                </div><!-- /End col-md-4 -->


                                                <!-- col-md-4 -->
                                                <div class="col-md-4">
                                                    <!-- Icon Block -->
                                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-7">
                                                        <!-- gfort Block Container -->
                                                        <div class="gfort-block-container">


                                                            <!-- gfort Block Head -->
                                                            <div class="gfort-block-head">
                                                                <i class="fa fa-dollar"></i>
                                                                <i class="fa fa-dollar"></i>
                                                            </div><!-- /End gfort Block Head -->


                                                            <!-- gfort Block Body -->
                                                            <div class="gfort-block-body">


                                                                <!-- gfort Block Title -->
                                                                <div class="gfort-block-title">
                                                                    <h4>{{ 'form.index.investment'|trans }}</h4>
                                                                </div><!-- /End gfort Block Title -->


                                                                <!-- gfort Block Content -->
                                                                <div class="gfort-block-content">

                                                                    <p>Sed ac orci nulla. Sed finibus sapien vel velit viverra rhoncus. Aliquam at nisl ac magna consequat tempus.</p>

                                                                    <!-- gfort Block Link -->
                                                                    <div class="gfort-block-link">
                                                                        <a href="{{ path('Xbos_core_advice') }}">{{ 'form.index.more' |trans }} <i class="fa fa-long-arrow-right"></i></a>
                                                                    </div><!-- /End gfort Block Link -->

                                                                </div><!-- /End gfort Block Content -->


                                                            </div><!-- /End gfort Block Body -->


                                                        </div><!-- /End gfort Block Container -->
                                                    </div><!-- /End Icon Block -->
                                                </div><!-- /End col-md-4 -->


                                                <!-- col-md-4 -->
                                                <div class="col-md-4">
                                                    <!-- Icon Block -->
                                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-7">
                                                        <!-- gfort Block Container -->
                                                        <div class="gfort-block-container">


                                                            <!-- gfort Block Head -->
                                                            <div class="gfort-block-head">
                                                                <i class="fa fa-flash"></i>
                                                                <i class="fa fa-flash"></i>
                                                            </div><!-- /End gfort Block Head -->


                                                            <!-- gfort Block Body -->
                                                            <div class="gfort-block-body">


                                                                <!-- gfort Block Title -->
                                                                <div class="gfort-block-title">
                                                                    <h4>{{ 'form.index.retirement'|trans }}</h4>
                                                                </div><!-- /End gfort Block Title -->


                                                                <!-- gfort Block Content -->
                                                                <div class="gfort-block-content">

                                                                    <p>Duis fermentum, purus vitae semper sollicitudin, lorem risus pretium nisl, consequat molestie arcu.</p>

                                                                    <!-- gfort Block Link -->
                                                                    <div class="gfort-block-link">
                                                                        <a href="{{ path('Xbos_core_advice') }}">{{ 'form.index.more' |trans }} <i class="fa fa-long-arrow-right"></i></a>
                                                                    </div><!-- /End gfort Block Link -->

                                                                </div><!-- /End gfort Block Content -->


                                                            </div><!-- /End gfort Block Body -->


                                                        </div><!-- /End gfort Block Container -->
                                                    </div><!-- /End Icon Block -->
                                                </div><!-- /End col-md-4 -->


                                            </div><!-- /End row -->
                                        </div><!-- /End container -->
                                    </div><!-- /End Section Container -->
                                </div><!-- /End gfort Section -->
                                </div>

                            </div>
                        </div>
                    </div>
                 </div>
                <div class="hr-divider hr-divider-style-4 text-center"></div>

                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-6 -->
                                <div class="col-md-6">


                                    <!-- Section Title -->
                                    <div class="section-title section-title-md">

                                        <h2 class="section-main-title">Latest Blogs</h2>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">

                                                    <p>Quisque viverra accumsan urna fermentum elementum. Etiam vitae elit at nulla egestas efficitur sit amet eu leo. Maecenas maximus leo sed neque molestie, eget fermentum purus lacinia. Donec pulvinar quam dolor, vitae semper ligula pretium eu.</p>

                                                    <p>Fusce volutpat dolor pellentesque, consequat nibh nec, ultrices urna. Proin id eros scelerisque, posuere dolor laoreet, pretium ligula. Donec auctor eget tellus quis imperdiet. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test.</p>

                                                    <div class="gap gap-5"></div>

                                                    <!-- Social Icons Block -->
                                                    <div class="social-icons-block icons-style-2">
                                                        <ul>

                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Google Plus">
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Pinterest">
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social Icons Block -->


                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                </div><!-- /End col-md-6 -->


                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <!-- Gallery items Wrapper -->
                                    <div class="gallery-items-wrapper gallery-col-2 gallery-gap-10 isotope-masonry">

                                        {% for recentBlog in recentBlogs %}
                                        <!-- Gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                            <a href="{{ path('Xbos_core_single_blog', {blogArticleId : recentBlog.id}) }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-4" title="{{ recentBlog.title }}">
                                                <img src="{{ asset(recentBlog.getImageVariationPath(272,169)) }}" alt="Gallery item Image" />
                                            </a>
                                        </div><!-- /End Gallery item -->

                                        {% endfor %}

                                    </div><!-- /End Gallery items Wrapper -->
                                </div><!-- /End col-md-6 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
                <div class="hr-divider hr-divider-style-4 text-center"></div>

                {#<div class="gfort-section">#}
                    {#<!-- Section Container -->#}
                    {#<div class="section-container">#}
                        {#<!-- container -->#}
                        {#<div class="container">#}
                            {#<!-- row -->#}
                            {#<div class="row">#}


                                {#<!-- col-md-12 -->#}
                                {#<div class="col-md-12">#}
                                    {#<!-- Section Title -->#}
                                    {#<div class="section-title text-center">#}

                                        {#<h2 class="section-main-title">Latest News</h2>#}

                                        {#<p class="section-subtitle">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>#}

                                        {#<div class="hr-divider hr-divider-style-1"></div>#}

                                    {#</div><!-- /End Section Title -->#}
                                {#</div><!-- /End col-md-12 -->#}


                                {#<!-- col-md-12 -->#}
                                {#<div class="col-md-12">#}
                                    {#<!-- gfort-tabs -->#}
                                    {#<div class="gfort-tabs gfort-tabs-center">#}


                                        {#<!-- Nav Tabs -->#}
                                        {#<ul class="nav nav-tabs" role="tablist">#}
                                            {#{% set i=1 %}#}
                                            {#{% for category in categories  %}#}

                                            {#<li role="presentation" class="">#}
                                                {#<a href="#tab-{{category.id}}" aria-controls="tab-{{ category.id }}" role="tab" data-toggle="tab">{{ category.name }}</a>#}
                                            {#</li>#}

                                            {#{% endfor %}#}

                                        {#</ul><!-- /End Nav Tabs -->#}


                                        {#<!-- Tab Panes -->#}
                                        {#<div class="tab-content">#}


                                            {#<!-- Tab Pane -->#}
                                            {#{% for category in categories %}#}
                                            {#<div role="tabpanel" class="tab-pane fade in active" id="tab-{{ category.id }}">#}

                                                {#<!-- row -->#}
                                                {#<div class="row">#}

                                                    {#{% for recentBlog in recentBlogs %}#}
                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="{{ asset(recentBlog.getImageVariationPath(272,169)) }}" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>{{ recentBlog.title }}</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 2 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 4 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 1 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 1 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}
                                                    {#{% endfor %}#}

                                                    {#<!-- col-md-12 -->#}
                                                    {#<div class="col-md-12">#}

                                                        {#<!-- GAP 10px -->#}
                                                        {#<div class="gap gap-10"></div>#}

                                                        {#<!-- Button Block -->#}
                                                        {#<div class="gfort-block btn-block text-center mb-0">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}

                                                                        {#<a href="#" class="btn btn-gfort">VIEW ALL SPORTS CARS</a>#}

                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Button Block -->#}

                                                    {#</div><!-- /End col-md-12 -->#}


                                                {#</div><!-- /End row -->#}
                                            {#</div><!-- /End Tab Pane -->#}
                                            {#{% endfor %}#}


                                            {#<!-- Tab Pane -->#}
                                            {#<div role="tabpanel" class="tab-pane fade" id="tab-2">#}
                                                {#<!-- row -->#}
                                                {#<div class="row">#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/008.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>VW GOLF CABRIOLET</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 2 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 4 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 1 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 2 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/009.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>AUDI A3 CABRIOLET</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 2 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 4 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 2 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 1 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/010.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>AUDI TT ROADSTER</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 2 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 2 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 0 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 2 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-12 -->#}
                                                    {#<div class="col-md-12">#}

                                                        {#<!-- GAP 10px -->#}
                                                        {#<div class="gap gap-10"></div>#}

                                                        {#<!-- Button Block -->#}
                                                        {#<div class="gfort-block btn-block text-center mb-0">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}

                                                                        {#<a href="#" class="btn btn-gfort">VIEW ALL CONVERTIBLE CARS</a>#}

                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Button Block -->#}

                                                    {#</div><!-- /End col-md-12 -->#}


                                                {#</div><!-- /End row -->#}
                                            {#</div><!-- /End Tab Pane -->#}


                                            {#<!-- Tab Pane -->#}
                                            {#<div role="tabpanel" class="tab-pane fade" id="tab-3">#}
                                                {#<!-- row -->#}
                                                {#<div class="row">#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/011.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>SKODA OCTAVIA COMBi</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 5 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 3 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 3 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/012.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>VW PASSAT SW</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 5 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 3 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 2 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/013.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>BMW SÉRIE 3 TOURING AUT</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 5 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 3 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 2 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Automatic shift#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-12 -->#}
                                                    {#<div class="col-md-12">#}

                                                        {#<!-- GAP 10px -->#}
                                                        {#<div class="gap gap-10"></div>#}

                                                        {#<!-- Button Block -->#}
                                                        {#<div class="gfort-block btn-block text-center mb-0">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}

                                                                        {#<a href="#" class="btn btn-gfort">VIEW ALL ESTATES CARS</a>#}

                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Button Block -->#}

                                                    {#</div><!-- /End col-md-12 -->#}


                                                {#</div><!-- /End row -->#}
                                            {#</div><!-- /End Tab Pane -->#}


                                            {#<!-- Tab Pane -->#}
                                            {#<div role="tabpanel" class="tab-pane fade" id="tab-4">#}
                                                {#<!-- row -->#}
                                                {#<div class="row">#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/014.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>BMW X1 XDRIVE</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 5 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 2 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 3 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Manual transmission#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/015.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>RANGE ROVER SPORT HSE</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 4 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 3 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 3 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Automatic shift#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-4 -->#}
                                                    {#<div class="col-md-4">#}
                                                        {#<!-- Image Block -->#}
                                                        {#<div class="gfort-block image-block">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Head -->#}
                                                                {#<div class="gfort-block-head">#}
                                                                    {#<img src="images/index/car-rental/016.png" alt="Image">#}
                                                                {#</div><!-- /End gfort Block Head -->#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Title -->#}
                                                                    {#<div class="gfort-block-title">#}
                                                                        {#<h4>PORSCHE CAYENNE S</h4>#}
                                                                    {#</div><!-- /End gfort Block Title -->#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}
                                                                        {#<ul class="icon-list">#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-asterisk"></i> Air conditioning available#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-car"></i> 5 Doors#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-male"></i> 5 Seats#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-suitcase"></i> 3 Suitcases#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-shopping-bag"></i> 2 Bags#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<i class="fa fa-sliders"></i> Automatic shift#}
                                                                            {#</li>#}
                                                                        {#</ul>#}
                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Image Block -->#}
                                                    {#</div><!-- /End col-md-4 -->#}


                                                    {#<!-- col-md-12 -->#}
                                                    {#<div class="col-md-12">#}

                                                        {#<!-- GAP 10px -->#}
                                                        {#<div class="gap gap-10"></div>#}

                                                        {#<!-- Button Block -->#}
                                                        {#<div class="gfort-block btn-block text-center mb-0">#}
                                                            {#<!-- gfort Block Container -->#}
                                                            {#<div class="gfort-block-container">#}


                                                                {#<!-- gfort Block Body -->#}
                                                                {#<div class="gfort-block-body">#}


                                                                    {#<!-- gfort Block Content -->#}
                                                                    {#<div class="gfort-block-content">#}

                                                                        {#<a href="#" class="btn btn-gfort">VIEW ALL 4x4 CARS</a>#}

                                                                    {#</div><!-- /End gfort Block Content -->#}


                                                                {#</div><!-- /End gfort Block Body -->#}


                                                            {#</div><!-- /End gfort Block Container -->#}
                                                        {#</div><!-- /End Button Block -->#}

                                                    {#</div><!-- /End col-md-12 -->#}


                                                {#</div><!-- /End row -->#}
                                            {#</div><!-- /End Tab Pane -->#}


                                        {#</div><!-- /End Tab Panes -->#}


                                    {#</div><!-- /End gfort-tabs -->#}
                                {#</div><!-- /End col-md-12 -->#}


                            {#</div><!-- /End row -->#}
                        {#</div><!-- /End container -->#}
                    {#</div><!-- /End Section Container -->#}
                {#</div><!-- /End gfort Section -->#}


                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-3 -->
                                <div class="col-md-3">


                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-money"></i>
                                                <i class="fa fa-money"></i>

                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.bankAcc' | trans }} </h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Duis fermentum, purus vitae semper sollicitudin, lorem risus pretium nisl, consequat.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->


                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-dollar"></i>
                                                <i class="fa fa-dollar"></i>
                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.cashCredit' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Ut mattis rutrum enim, vel cursus turpis ullamcorper nec. Sed a sodales metus.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->


                                </div><!-- /End col-md-3 -->


                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <!-- Image Block -->
                                    <div class="gfort-block image-block gfort-block-style-6 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <img style="border-radius: 50%"  src="{{ asset('bundles/xboscore/images/index/corporate/004.jpg') }}" alt="Image" />
                                            </div><!-- /End gfort Block Head -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Image Block -->
                                </div><!-- /End col-md-6 -->


                                <!-- col-md-3 -->
                                <div class="col-md-3">


                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-car"></i>
                                                <i class="fa fa-car"></i>
                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.carCredit' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Aliquam sed risus enim. Donec nisl felis, fermentum eget dolor nec, volutpat pharetra.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->


                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-credit-card"></i>
                                                <i class="fa fa-credit-card"></i>                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.creditCards' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Nunc ac nisl fermentum, fringilla ligula ac, ullamcorper tellus. Duis id rhoncus lacus.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->


                                </div><!-- /End col-md-3 -->


                                <div class="clearfix"></div>


                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-home"></i>
                                                <i class="fa fa-home"></i>


                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.housingCredit' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Etiam sit amet diam ac neque facilisis efficitur et ut sapien, ut a eros nec sapien.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->
                                </div><!-- /End col-md-3 -->


                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-shopping-basket"></i>
                                                <i class="fa fa-shopping-basket"></i>
                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.savings' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Donec maximus pretium ipsum sed volutpat, in eu nulla tempor, maximus diam eu.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->
                                </div><!-- /End col-md-3 -->


                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-car"></i>
                                                <i class="fa fa-car"></i>

                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.carInsurance' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Duis fermentum, purus vitae semper sollicitudin, lorem risus pretium nisl, consequat.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->
                                </div><!-- /End col-md-3 -->


                                <!-- col-md-3 -->
                                <div class="col-md-3">
                                    <!-- Icon Block -->
                                    <div class="gfort-block gfort-block-style-6 icon-block icon-block-main wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-plane"></i>
                                                <i class="fa fa-plane"></i>

                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>{{ 'form.travelInsurance' | trans }}</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <p>Ut mattis rutrum enim, vel cursus turpis ullamcorper nec. Sed a sodales metus.</p>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->
                                </div><!-- /End col-md-3 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->



                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->

                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
                <div class="gfort-section parallax-section overlay-section" style="background-image: url(/bundles/xboscore/images/index/corporate/004.jpg); background-color: transparent">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-4 -->
                                <div class="col-md-4">
                                    <!-- Section Title -->
                                    <div class="section-title light-color">
                                        <h2 class="section-main-title">SUBSCRIBE NOW AND STAY INFORMED</h2>
                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-8 -->
                                <div class="col-md-8">
                                    <!-- Subscribe Form Block (Mailchimp) -->
                                    <div class="form-block subscribe-form-block mailchimp-form-block light-color" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">
                                        <!-- Form Block Container -->
                                        <div class="form-block-container">
                                            <!-- Form -->
                                            <form method="post" action="#">


                                                <!-- Email Address -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                        <label>Email Address</label>
                                                        <input type="email" class="form-control subscribe-email" name="EMAIL">

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Email Address -->


                                                <!-- Submit Button -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                        <button type="submit" class="btn btn-gfort-white">SUBSCRIBE</button>

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Submit Button -->


                                            </form><!-- /End Form -->
                                        </div><!-- /End Form Block Container -->
                                    </div><!-- /End Subscribe Form Block (Mailchimp) -->
                                </div><!-- /End col-md-8 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->

                <!-- gfort Section -->
            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
</div>
{%  endblock content %}