
{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}




<a href="#" class="btn-gfort-top"><i class="fa fa-angle-up"></i></a>


<!-- Main Wrapper
======================================================================== -->
<div id="main-wrapper">


    <!-- Page Body
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section grey-background-color">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-block account-form-block" style="max-width: 100%;">
                                            Step by step Tracker
                                        </div>
                                    </div>
                                    <!-- Account Form Block -->
                                        <!-- Form Block Container -->
                                        <div class="col-md-6">
                                            <div class="form-block account-form-block" style="max-width: 100%;">
                                            <div class="form-block-container">
                                            <!-- Form -->
                                                <!-- Form Block Title -->
                                                <div class="col-md-12">
                                                    <div class="form-block-title text-center">
                                                        <h4>Travel insurance in comparison
                                                            Secure now and enjoy the holiday carefree</h4>
                                                    </div>
                                                </div><!-- /End Form Block Title -->


                                                {{ form_start(form, {attr: { 'novalidate': 'novalidate'  } }) }}


                                                <!-- Submit Button -->
                                                <div class="col-md-12">
                                                    <!-- Form Group -->
                                                    <div class="form-group">

                                                    </div><!-- /End Form Group -->
                                                </div><!-- /End Email Address -->

                                                {{ form_end(form) }}
                                                <div class="col-md-12">
                                                    <div class="form-block-title text-center">
                                                        <h4>already have an account</h4>
                                                        <a href="sign-in.html" class="btn btn-gfort">NEXT >></a>
                                                    </div>
                                                </div><!-- /End Form Block Title -->
                                                <!-- Form Block Title -->



                                        </div><!-- /End Form Block Container -->
                                        </div>


                                        </div><!-- /End Account Form Block -->
                                    <div class="col-md-3">
                                        <div class="form-block account-form-block" style="max-width: 120%;">
                                            Information(Tooltips)
                                        </div>
                                    </div>
                                </div><!-- /End col-md-12 -->



                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->

{% endblock content %}