{% extends 'XbosCoreBundle::layout.html.twig' %}

{% block content %}




    <!-- Page Body (Right Sidebar)
    ==================================================================== -->
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">


                                    <!-- Shop Section -->
                                    <div class="shop-section">


                                        <!-- Shop items Wrapper -->
                                        <div class="shop-items-wrapper shop-col-3">
                                            <ul class="products">


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}" title="Handcrafted Watch" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/car-rental/001.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Handcrafted Watch">{{ 'form.carInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->



                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}" title="Stapler and Staples" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/travel/001.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Stapler and Staples">{{ 'form.travelInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->




                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}" title="Papoi Toy" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/real-estate/001.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Papoi Toy">{{ 'form.homeInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->




                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}" title="Wood Box" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/medical/002.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Wood Box">{{ 'form.healthInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->



                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}"  title="Eraser with wood plate" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/corporate/001.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Eraser with wood plate">{{ 'form.lifeInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->




                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->


                                                <!-- Shop item -->
                                                <li class="shop-item">
                                                    <!-- Shop item Container -->
                                                    <div class="shop-item-container">


                                                        <!-- Shop item Media -->
                                                        <div class="shop-item-media">
                                                            <a href="{{ path('Xbos_core_insurance_start_form', {metaProductId : 1}) }}" title="Pencil with wood stand" class="scale-hover">
                                                                <img src="{{ asset('bundles/xboscore/images/index/landing-page/005.jpg') }}" alt="Article Image" />                                                            </a>
                                                        </div><!-- /End Shop item Media -->


                                                        <!-- Shop item Body -->
                                                        <div class="shop-item-body">


                                                            <!-- Shop item Title -->
                                                            <h2 class="shop-item-title">
                                                                <a href="#" title="Pencil with wood stand">{{ 'form.nonLifeInsurance' | trans }}</a>
                                                            </h2><!-- /End Shop item Title -->




                                                        </div><!-- /End Shop item Body -->


                                                    </div><!-- /End Shop item Container -->
                                                </li><!-- /End Shop item -->




                                            </ul>
                                        </div><!-- /End Shop items Wrapper -->


                                    </div><!-- /End Shop Section -->





                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


        <!-- Main Sidebar
        ================================================================ -->

    </div>
{% endblock content %}