<!DOCTYPE html>
<html class="no-js">
<head lang="sr_Latn">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Xbos{% endblock %}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    {% block stylesheets %}

        {% stylesheets

        'bundles/xboscore/js/vendor/bootstrap/css/bootstrap.min.css'
        'bundles/xboscore/fonts/font-awesome/css/font-awesome.min.css'
        'bundles/xboscore/js/plugins/animsition/css/animsition.min.css'
        'bundles/xboscore/css/social-icons.css'
        'bundles/xboscore/css/animate/animate.min.css'
        'bundles/xboscore/js/plugins/chosen/chosen.min.css'
        'bundles/xboscore/js/plugins/fancybox/jquery.fancybox.min.css'
        'bundles/xboscore/js/plugins/owl-carousel/assets/owl.carousel.min.css'
        'bundles/xboscore/js/plugins/owl-carousel/assets/owl.theme.default.min.css'
        'bundles/xboscore/js/plugins/videojs/videojs.min.css'
        'bundles/xboscore/css/rangeslider.css'
        'bundles/xboscore/css/multirange.css'
        'bundles/xboscore/js/vendor/croppie/croppie.css'
        'bundles/xboscore/css/main.turbolance.css'

        filter='cssrewrite' output='css/compiled/app.css' %}

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CPoppins:400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset_url }}" />



        {% endstylesheets %}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>
    <div></div>
    {# ------------ HEADER START --------------------------------------------------------- #}
    {% block header %}
        {{  include ("XbosCoreBundle:Header:header.html.twig") }}
    {% endblock %}
    {# ------------ HEADER END --------------------------------------------------------- #}


    {% block content %}

    {% endblock content %}
    {% block chatBox %}

        {{  include ("XbosCoreBundle:ChatWindow:chatWindow.html.twig") }}

    {% endblock %}

    {# ------------ FOOTER START --------------------------------------------------------- #}
    {% block footer %}
        {{ render(controller("XbosCoreBundle:Footer:footer")) }}
    {% endblock %}
    {# ------------ FOOTER END --------------------------------------------------------- #}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

{% block javascripts %}


    {% javascripts

    'bundles/xboscore/js/vendor/bootstrap/js/bootstrap.min.js'
    'bundles/xboscore/js/plugins/animsition/js/animsition.min.js'
    'bundles/xboscore/js/plugins/chosen/chosen.jquery.min.js'
    'bundles/xboscore/js/plugins/cookie/js.cookie.min.js'
    'bundles/xboscore/js/plugins/countto/jquery.countTo.min.js'
    'bundles/xboscore/js/plugins/downCount/jquery.downCount.min.js'
    'bundles/xboscore/js/plugins/easypiechart/jquery.easypiechart.min.js'
    'bundles/xboscore/js/plugins/fancybox/jquery.fancybox.pack.js'
    'bundles/xboscore/js/plugins/fancybox/helpers/jquery.fancybox-media.min.js'
    'bundles/xboscore/js/plugins/fitvids/jquery.fitvids.min.js'
    'bundles/xboscore/js/plugins/gfortinsta/gfortInsta.min.js'
    'bundles/xboscore/js/plugins/gfortytplayer/ytplayer.js'
    'bundles/xboscore/js/plugins/infobox/infobox_packed.js'
    'bundles/xboscore/js/plugins/isotope/isotope.pkgd.min.js'
    'bundles/xboscore/js/plugins/isotope/packery-mode.pkgd.min.js'
    'bundles/xboscore/js/plugins/matchHeight/jquery.matchHeight-min.js'
    'bundles/xboscore/js/plugins/owl-carousel/owl.carousel.min.js'
    'bundles/xboscore/js/plugins/pace/pace.min.js'
    'bundles/xboscore/js/plugins/parallax/jquery.parallax-1.1.3.min.js'
    'bundles/xboscore/js/plugins/prettify/prettify.min.js'
    'bundles/xboscore/js/plugins/scrollto/jquery.scrollTo.min.js'
    'bundles/xboscore/js/plugins/tweetie/tweetie.min.js'
    'bundles/xboscore/js/plugins/typed/typed.min.js'
    'bundles/xboscore/js/plugins/validation/jquery.validate.min.js'
    'bundles/xboscore/js/plugins/videojs/videojs.min.js'
    'bundles/xboscore/js/plugins/waypoint/jquery.waypoints.min.js'
    'bundles/xboscore/js/plugins/waypoint/sticky.min.js'
    'bundles/xboscore/js/plugins/wow/wow.min.js'
    'bundles/xboscore/js/vendor/repository/dist/repository.min.js'
    'bundles/xboscore/js/vendor/croppie/croppie.min.js'
    'bundles/xboscore/js/vendor/simple-view/dist/simpleView.min.js'
    'bundles/xboscore/js/vendor/simpleloader/dist/simpleloader.min.js'

    'bundles/xboscore/js/library/initialize.js'

    'bundles/xboscore/js/scripts.js'

    'bundles/xboscore/js/globals.js'
    'bundles/xboscore/js/main.turbolance.js'

    'bundles/xboscore/js/controllers/searchController.js'
    'bundles/xboscore/js/controllers/editProfile.js'

    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

<script src="/bundles/xboscore/js/main.turbolance.js"></script>

</body>
</html>