{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}
    <div class="page-body">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">
                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-6">
                                        <!-- Contact Form Block -->
                                        <div class="form-block contact-form-block">
                                            <!-- Form Block Container -->
                                            <div class="form-block-container">
                                                <!-- Form -->
                                                {{ form_start(form, {attr: { 'novalidate': 'novalidate'} }) }}
                                                <!-- Name -->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_errors(form.name) }}
                                                        {{ form_label(form.name) }}
                                                        {{ form_widget(form.name, { attr: { 'class': 'form-control' }}) }}
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div><!-- /End Name -->

                                                {{ form_end(form) }}
                                            </div><!-- /End Form Block Container -->
                                        </div><!-- /End Contact Form Block -->
                                    </div><!-- /End col-md-8 -->

                                <div class="col-md-6">
                                    <div class="section-title section-title-sm">
                                        <h2 class="section-main-title">Categories</h2>
                                    </div><!-- /End Section Title -->


                                    <!-- Text Block -->
                                    <div class="gfort-block text-block">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">

                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">
                                                    <ul>
                                                        {% for category in categories %}
                                                        <li>{{ category.name }}</li>
                                                        {% endfor %}

                                                    </ul>
                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->

                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Text Block -->


                                </div><!-- /End col-md-4 -->



                                <!-- col-md-8 -->


                                </div>
                            </div>
                                <!-- col-md-4 -->
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->
            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->





{% endblock content %}