{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}
    <!-- Page Title Section
         ==================================================================== -->
    <div class="page-title-section page-title-section-wide grey-background-color">
        <!-- Section Container -->
        <div class="section-container">


            <!-- Breadcrumb Title -->
            <div class="breadcrumb-title">
                <!-- container -->
                <div class="container">

                    <h1 class="breadcrumb-main-title">{{ 'form.blog.article.list' | trans }}</h1>

                </div><!-- /End container -->
            </div><!-- /End Breadcrumb Title -->


            <!-- Breadcrumb Block -->
            <div class="breadcrumb-block">
                <!-- container -->
                <div class="container">

                    <ol class="breadcrumb">
                        <li><a href="{{ path('Xbos_core_home') }}" title="Home"><i class="fa fa-home"></i></a></li>
                        <li class="active">{{ 'form.blog.article.show' | trans }}</li>
                    </ol>

                </div><!-- /End container -->
            </div><!-- /End Breadcrumb block -->


        </div><!-- /End Section Container -->
    </div><!-- /End Page Title Section -->


    <!-- Page Body (Right Sidebar)
    ==================================================================== -->
    <div class="page-body page-right-sidebar">


        <!-- Main Content
        ================================================================ -->
        <div class="main-content">
            <!-- Main Content Container -->
            <div class="main-content-container">


                <!-- gfort Section -->
                <div class="gfort-section">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">


                                    <!-- Blog items Wrapper -->
                                    <div class="blog-items-wrapper blog-col-2 isotope-masonry">

                                        {% set i=0 %}
                                        <!-- Blog item -->
                                        {% for blogArticle in blogArticles %}
                                        <article class="blog-item isotope-item format-standard">
                                            <!-- Blog item Container -->
                                            <div class="blog-item-container" >


                                                <!-- Blog item Media -->
                                                <div class="blog-item-media">
                                                    <a href="{{ path ("Xbos_core_single_blog",{blogArticleId: blogArticle.id}) }}" title="{{ blogArticle.title }}" class="overlay-hover-2x scale-hover">
                                                        <img src="{{ asset(blogArticle.getImageVariationPath(390,243) )}}" alt="Article Image" />
                                                    </a>
                                                </div><!-- /End Blog item Media -->


                                                <!-- Blog item Body -->
                                                <div class="blog-item-body" >


                                                    <!-- Blog item Meta -->
                                                    <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <a href="#">
                                                                        <i class="fa fa-file-text-o"></i>
                                                                        <i class="fa fa-file-text-o"></i>
                                                                    </a>
                                                                </span>
                                                        <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">{{blogArticle.dateCreated.format('d-m-y')}}</time>
                                                                </span>
                                                        <span class="item-meta-category">
                                                                    <a href="{{ path ("Xbos_core_single_blog" , {blogArticleId: blogArticle.id}) }}" title="{{ blogArticle.title }}">{{ blogArticle.title }}</a>
                                                                </span>

                                                    </div><!-- /End Blog item Meta -->


                                                    <!-- Blog item Title -->
                                                    <h2 class="blog-item-title">
                                                        <a href="{{ path ("Xbos_core_single_blog",{blogArticleId: blogArticle.id}) }}" title="{{ blogArticle.title }}">{{ blogArticle.title }}</a>
                                                    </h2><!-- /End Blog item Title -->


                                                    <!-- Blog item Description -->
                                                    <div class="blog-item-description limited-text">
                                                        <p style="display:block;text-overflow: ellipsis;width: 300px; overflow: hidden; white-space: nowrap;">
	                                            {{ blogArticle.subtitle }}
	                                                </p>
                                                    </div><!-- /End Blog item Description -->


                                                    <!-- Blog item Read More Button -->
                                                    <div class="blog-item-read-btn">
                                                        <a style="margin-left: 8%" href="{{ path('Xbos_core_blog_article_edit', {blogArticleId: blogArticle.id}) }}">Edit Article <i class="fa fa-long-arrow-right"></i></a>
                                                        <a style="margin-left: 8%" href="{{ path('Xbos_core_blog_article_delete', {blogArticleId: blogArticle.id}) }}">Delete Article </a>

                                                    </div><!-- /End Blog item Read More Button -->
                                                    <!-- Blog item Read More Button -->

                                                </div><!-- /End Blog item Body -->


                                            </div><!-- /End Blog item Container -->
                                        </article><!-- /End Blog item -->
                                                {% endfor %}



                                    </div><!-- /End Blog items Wrapper -->


                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


        <!-- Main Sidebar
        ================================================================ -->
        <div class="main-sidebar">
            <!-- Main Sidebar Container -->
            <div class="main-sidebar-container">


                <!-- Widget Block ( Social icons ) -->
                <div class="widget-block widget-block-social-icons">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Stay connected</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <!-- Social Icons Block -->
                            <div class="social-icons-block icons-style-1">
                                <ul>

                                    <li>
                                        <a href="#" title="Facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Google Plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="youtube">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Behance">
                                            <i class="fa fa-behance" aria-hidden="true"></i>
                                            <i class="fa fa-behance" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Pinterest">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div><!-- /End Social Icons Block -->

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Social icons ) -->


                <!-- Widget Block ( Text ) -->
                <div class="widget-block widget-block-text">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Reach us</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <strong>Email:</strong>
                            <p><a href="mailto:support@example.com" title="Support">support@example.com</a></p>

                            <strong>Phone:</strong>
                            <p><a href="tel:+11234567890" title="+1 123 456-7890">+1 123 456-7890</a></p>

                            <strong>Location:</strong>
                            <p>6 rue Saint-Martin, 12345 Paris, France</p>

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Text ) -->


                <!-- Widget Block ( Categories ) -->
                <div class="widget-block widget-block-categories">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Categories</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <!-- Categories Block -->
                            <ul class="categories-block">.
                                {% for category in categories %}
                                <li><a href="{{ path('Xbos_core_blog_article_show', {categoryId : category.id}) }}" title="Life Style">{{ category.name }}<span>({{ blogCount[category.count] }})</span></a></li>
                                {% endfor %}
                            </ul><!-- /End Categories Block -->

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Categories ) -->


                <!-- Widget Block ( Latest Posts ) -->
                <div class="widget-block widget-block-posts">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Latest Posts</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <!-- Blog Posts -->
                            <ul class="blog-posts">

                                {% for recentBlog in recentBlogs %}
                                <!-- Blog Item -->
                                <li>

                                    <!-- Item image -->
                                    <a href="{{ path('Xbos_core_single_blog' ,{blogArticleId: recentBlog.id} ) }}" title="You must do the things you think you can't do" class="item-image overlay-hover scale-hover-2x">
                                        <img src="{{ asset(recentBlog.getImageVariationPath(200,100)) }}" alt="Article Image" />
                                    </a>

                                    <!-- Blog Item Body -->
                                    <div class="blog-item-body">

                                        <!-- Title -->
                                        <a href="{{ path('Xbos_core_single_blog', {blogArticleId: recentBlog.id}) }}" title="You must do the things you think you can't do" class="blog-item-small-title">{{ recentBlog.title }}</a>

                                        <!-- Blog item Meta -->
                                        <div class="blog-item-meta">
                                                    <span class="item-meta-date">
                                                        <time datetime="2016-05-17">{{ recentBlog.dateCreated.format('d-m-Y') }}</time>
                                                    </span>

                                        </div><!-- /End Blog item Meta -->

                                    </div><!-- /End Blog Item Body -->

                                </li><!-- /End Blog Item -->

                                        {% endfor %}


                            </ul><!-- /End Blog Posts -->

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Latest Posts ) -->


                <!-- Widget Block ( Subscribe ) -->
                <div class="widget-block widget-block-subscribe">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Subscribe</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <!-- Subscribe Form Block (Mailchimp) -->
                            <div class="form-block subscribe-form-block mailchimp-form-block" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">
                                <!-- Form Block Container -->
                                <div class="form-block-container">
                                    <!-- Form -->
                                    <form method="post" action="#">


                                        <!-- Email Address -->
                                        <div class="col-md-12">
                                            <!-- Form Group -->
                                            <div class="form-group">

                                                <label>Email Address</label>
                                                <input type="email" class="form-control subscribe-email" name="EMAIL">

                                            </div><!-- /End Form Group -->
                                        </div><!-- /End Email Address -->


                                        <!-- Submit Button -->
                                        <div class="col-md-12">
                                            <!-- Form Group -->
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-gfort">SUBSCRIBE</button>

                                            </div><!-- /End Form Group -->
                                        </div><!-- /End Submit Button -->


                                        <!-- Text -->
                                        <div class="col-md-12">
                                            <!-- Form Group -->
                                            <div class="form-group">

                                                <p>We promise that we will never share your e-mail address with any third party company.</p>

                                            </div><!-- /End Form Group -->
                                        </div><!-- /End Text -->


                                    </form><!-- /End Form -->
                                </div><!-- /End Form Block Container -->
                            </div><!-- /End Subscribe Form Block (Mailchimp) -->

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Subscribe ) -->


                <!-- Widget Block ( advertisement ) -->
                <div class="widget-block widget-block-advertisement">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title">
                            <h6>Advertisement</h6>
                        </div><!-- /End Widget Block Title -->


                        <!-- Widget Block Body -->
                        <div class="widget-block-body">

                            <!-- ADS Block -->
                            <div class="ads-block">
                                <!-- ADS Block Container -->
                                <div class="ads-block-container">
                                    <a href="http://gfort.co/plume" title="PLUME" target="_blank">
                                        <img src="images/widgets/ads.jpg" alt="Advertisement" />
                                    </a>
                                </div><!-- /End ADS Block Container -->
                            </div><!-- /End ADS Block -->

                        </div><!-- /End Widget Block Body -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( advertisement ) -->

            </div><!-- /End Main Sidebar Container -->
        </div><!-- /End Main Sidebar -->


    </div><!-- /End Page Body (Right Sidebar) -->


{% endblock content %}