


{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}

    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                            <!-- col-md-8 -->
                            <div class="col-md-8">
                                <!-- Contact Form Block -->
                                <div class="form-block contact-form-block">
                                    <!-- Form Block Container -->
                                    {{ form_start(form, {attr: { 'novalidate': 'novalidate', 'id' : 'add-form'} }) }}
                                    <div class="form-block-container">
                                        <!-- Form -->
                                        <!-- Name -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_errors(form.title) }}
                                                {{ form_label(form.title) }}
                                                {{ form_widget(form.title, { attr: { 'class': 'form-control' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_errors(form.blogArticleCategory) }}
                                                {{ form_label(form.blogArticleCategory) }}
                                                {{ form_widget(form.blogArticleCategory, { attr: { 'class': 'form-control' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <a style="margin-top:14%; width:50% ; height: 40px" class="btn btn-info" href="{{ path('Xbos_core_blog_article_image_upload', {blogArticleId: blogArticle.id}) }}" > Edit Picture </a>
                                            </div>
                                        </div>
                                        <!-- /End Name -->
                                    </div>
                                    <div class="form-block-container">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_label(form.subtitle) }}

                                                {{ form_widget(form.subtitle, { attr: { 'class': 'textarea', 'style': 'height:150px' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block-container">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                {{ form_label(form.content) }}
                                                {{ form_widget(form.content, { attr: { 'class': 'textarea', 'style': 'height:250px' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block-container">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form_label(form.quote) }}
                                                {{ form_widget(form.quote, { attr: { 'class': 'textarea', 'style': 'height:100px' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-block-container">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <button type="submit" style="margin-top: 5px " class="btn btn-gfort">{{ 'form.saveBlogArticle' | trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div><!-- /End Contact Form Block -->
                            </div><!-- /End col-md-8 -->
                            <!-- col-md-4 -->
                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->
        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', resize: false, statusbar: false });</script>
    {#<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>#}
    {#<script>#}


    {#Quill.register('modules/typing', function(quill, options) {#}
    {#quill.on('text-change', function(delta, oldDelta, source) {#}
    {#if (source == 'user') {#}
    {#setTimeout(function() {#}
    {#document.getElementById("typing").innerHTML = "Typing...";#}
    {#}, 0);#}
    {#setTimeout(function() {#}
    {#document.getElementById("typing").innerHTML = "";#}
    {#}, 100);#}
    {#}#}
    {#});#}
    {#});#}

    {#var quill = new Quill('#quillEditor', {#}
    {#theme: 'snow',#}
    {#modules: {#}
    {#typing: true#}
    {#}#}
    {#});#}
    {#</script>#}


{% endblock content %}



{#{% block content %}#}
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"><link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /><link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_style.min.css" rel="stylesheet" type="text/css" />#}
    {#<!-- Include JS file. -->#}
    {#<div class="page-body">#}


        {#<!-- Main Content#}
        {#================================================================ -->#}



    {#</div><!-- /End Page Body -->#}
{#<script>#}
    {#$(function() #}{#}#}
        {#$('div#froala-editor').froalaEditor(#}{#}#}
            {#toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'specialCharacters', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'quote', 'insertHR', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html', 'applyFormat', 'removeFormat', 'fullscreen', 'print', 'help'],#}
            {#pluginsEnabled: null#}
        {#})#}
    {#});#}
{#</script>#}
    {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0//js/froala_editor.pkgd.min.js"></script>#}

{#{% endblock content %}#}