{% extends 'XbosCoreBundle::layout.html.twig' %}


{% block content %}

<div class="page-title-section page-title-section-wide grey-background-color">
    <!-- Section Container -->
    <div class="section-container">


        <!-- Breadcrumb Title -->
        <div class="breadcrumb-title">
            <!-- container -->
            <div class="container">

                <h1 class="breadcrumb-main-title">Blog</h1>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb Title -->


        <!-- Breadcrumb Block -->
        <div class="breadcrumb-block">
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a href="{{ path('Xbos_core_home') }}" title="Home"><i class="fa fa-home"></i></a></li>
                    <li><a href="{{ path('Xbos_core_blog_article_show') }}" title="Blog">Blog</a></li>
                    <li class="active">{{ 'form.blog.article.single' |trans }}</li>
                </ol>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb block -->


    </div><!-- /End Section Container -->
</div><!-- /End Page Title Section -->


<!-- Page Body
==================================================================== -->
<div class="page-body">


    <!-- Main Content
    ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">


                                <!-- Blog items Wrapper -->
                                <div class="blog-items-wrapper blog-single-item">


                                    <!-- Blog item -->
                                    <article class="blog-item format-link">
                                        <!-- Blog item Container -->
                                        <div class="blog-item-container">


                                            <!-- Blog item Body -->
                                            <div class="blog-item-body">


                                                <!-- Blog item Format Content -->
                                                <div class="blog-item-format-content">

                                                    <!-- Blog item Title -->
                                                    <h2 class="blog-item-title">
                                                        <a  title="Creative HTML5 Templates &amp; wordPress themes" target="_blank">{{ blogArticle.title }}</a>
                                                    </h2><!-- /End Blog item Title -->

                                                    <!-- Blog item Format Description -->

                                                </div><!-- /End Blog item Format Content -->


                                                <!-- Blog item Meta -->
                                                <div class="blog-item-meta">
                                                                <span class="item-meta-format">
                                                                    <i class="fa fa-link"></i>
                                                                </span>
                                                    <span class="item-meta-date">
                                                                    <time datetime="2016-05-17">{{ blogArticle.dateCreated.format('d-m-Y') }}</time>
                                                                </span>

                                                    <span class="item-meta-author">

                                                                </span>
                                                </div><!-- /End Blog item Meta -->


                                                <!-- Blog item Description -->
                                                <div class="blog-item-description">

                                                    <p>{{ blogArticle.subtitle }}</p>

                                                    <blockquote>
                                                        <p>{{ blogArticle.quote }}</p>
                                                        <footer>Quote</footer>
                                                    </blockquote>

                                                    <p><img class="alignleft" src="{{ asset(blogArticle.getImageVariationPath(390,243) )}}" alt="Things" />{{ blogArticle.content }}</p>

                                                    <p></p>

                                                </div><!-- /End Blog item Description -->


                                            </div><!-- /End Blog item Body -->


                                        </div><!-- /End Blog item Container -->
                                    </article><!-- /End Blog item -->


                                    <!-- Share Block -->
                                    <div class="share-block">
                                        <span>Share on:</span>
                                        <!-- Social Icons Block -->
                                        <div class="social-icons-block icons-style-1">
                                            <ul>

                                                <li>
                                                    <a href="#" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" title="Google Plus">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" title="Pinterest">
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div><!-- /End Social Icons Block -->
                                    </div><!-- /End Share Block -->


                                    <!-- Navigation Block -->
                                    <div class="gfort-navigation-block">
                                        <nav aria-label="Single Page navigation">
                                            <!-- Pagination -->
                                            <ul class="gfort-pager gfort-pager-style-3">

                                                <li class="previous">
                                                    <a href="{{ path ("Xbos_core_single_blog" , {blogArticleId: blogArticleLeft.id}) }}">

                                                        <!-- Arrow -->
                                                        <i class="fa fa-angle-double-left"></i>

                                                        <!-- Thumbs -->
                                                        <img src="{{ asset(blogArticleLeft.getImageVariationPath(390,243)) }}" alt="Article Thumbs">

                                                        <!-- Title -->
                                                        <div class="gfort-pager-title">
                                                            <span>Previous:</span>
                                                            <h6>{{ blogArticleLeft.title }}</h6>
                                                        </div>

                                                    </a>
                                                </li>

                                                <li class="next">
                                                    <a href="{{ path ("Xbos_core_single_blog" , {blogArticleId: blogArticleRight.id}) }}">

                                                        <!-- Arrow -->
                                                        <i class="fa fa-angle-double-right"></i>

                                                        <!-- Thumbs -->
                                                        <img src="{{ asset(blogArticleRight.getImageVariationPath(390,243)) }}" alt="Article Thumbs">

                                                        <!-- Title -->
                                                        <div class="gfort-pager-title">
                                                            <span>Next:</span>
                                                            <h6>{{ blogArticleRight.title }}</h6>
                                                        </div>

                                                    </a>
                                                </li>

                                            </ul><!-- /End Pagination -->
                                        </nav>
                                    </div><!-- /End Navigation Block -->



                                    <!-- Related Blog Posts -->
                                    <div class="related-blog-posts">
                                        <!-- Related Blog Posts Container -->
                                        <div class="related-blog-posts-container">


                                            <!-- Section Title -->
                                            <div class="section-title section-title-sm">
                                                <h2 class="section-main-title">Related Posts</h2>
                                            </div><!-- /End Section Title -->


                                            <!-- Blog Posts -->
                                            <ul class="blog-posts">

                                            {% for relatedBlog in relatedBlogs %}
                                                <!-- Blog Item -->
                                                <li>

                                                    <!-- Item image -->
                                                    <a href="{{ path ("Xbos_core_single_blog" , {blogArticleId: relatedBlog.id}) }}" title="You must do the things you think you can't do" class="item-image overlay-hover-2x scale-hover">
                                                        <img src="{{ asset(relatedBlog.getImageVariationPath(270,160)) }}" alt="Article Image" />
                                                    </a>

                                                    <!-- Blog Item Body -->
                                                    <div class="blog-item-body">

                                                        <!-- Title -->
                                                        <a href="{{ path ("Xbos_core_single_blog" , {blogArticleId: relatedBlog.id}) }}" title="Nothing is impossible, the word itself says 'I'm possible'!" class="blog-item-small-title">{{ relatedBlog.title }}</a>

                                                        <!-- Blog item Meta -->
                                                        <div class="blog-item-meta">
                                                                        <span class="item-meta-date">
                                                                            <time datetime="2016-05-17"> {{ relatedBlog.dateCreated.format('d-m-Y') }}</time>
                                                                        </span>

                                                        </div><!-- /End Blog item Meta -->

                                                    </div><!-- /End Blog Item Body -->

                                                </li><!-- /End Blog Item -->

                                                {% endfor %}

                                            </ul><!-- /End Blog Posts -->


                                        </div><!-- /End Related Blog Posts Container -->
                                    </div><!-- /End Related Blog Posts -->



                                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


                                </div><!-- /End Blog items Wrapper -->


                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


</div><!-- /End Page Body -->

{% endblock content %}